* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #eee;
    font-family: Geneva, Tahoma, sans-serif;
}

ul {
    margin: 5px 0 0 15px;
    line-height: 2.5;
}

iframe {
    padding: 15px 0 15px 0;
}
#intext {
    float: right;
    width: 250px;
    height: 300px;
    padding: 10px 30px 15px 15px;
}

div.polaroid {
    width: 98%;
    background-color: #801404;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.caption {
    text-align: center;
    padding: 10px 20px;
}

h1 {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 44px;
    font-weight: bold;
}
h2 {
    padding-top: 30px;
    padding-bottom: 20px;
}

h3 {
    margin-top: 30px;
}

a {
    color: white;
    text-decoration: none;
}

#current {
    color: black;
    text-decoration: none;
}

section {
    display: flex;
    flex-wrap: wrap;
}

#wrapper {
    width: calc(100vw - 220px);
    max-width: 800px;
    margin: 0 auto;
}

nav {
    position: fixed;
    width: 200px;
    text-align: center;
    background-color: #110e11;
    line-height: 50px;
}

nav .active {
    background-color: #eee;
}
nav .active > a {
    color: #111;
}

/* wrapper is 800px, nav is 200px, but we need 200px of buffer on the right too */
@media only screen and (max-width: 1200px) {
    nav {
        position: static;
        margin: 0 auto 1em;
        display: flex;
        flex-wrap: wrap;
        width: auto;
        justify-content: space-evenly;
    }
    nav > div {
        padding: 0 15px;
    }
    #wrapper {
        width: 100%;
    }
}

.line-dec {
    max-width: 1250px;
    height: 2px;
    background-color: #fff;
    margin: 20px 0;
}

.head {
    margin-block-start: 0.50em;
    margin-block-end: 0.50em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
.subtitle {
    margin-block-start: 0.50em;
    margin-block-end: 0.50em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    justify-content: left;
    margin-top: 10px;
    line-height: 1.5;
}

.header {    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#head {
    color: #10a4e9;
    align-items: center;
}

#subhead {
    color: #ccccb3;
    width: 100%;
}

#travelhead {
    color: #3fdf31;
}

article {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 250px;
}

.flex-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.flex-container > div {
    width: 40%;
}
.flex-container > div:first-child {
    margin-right: 20%;
}