body {
    background-color: #002500;
}

div.polaroid {
    width: 60%;
    height: 25%;
    background-color: #111;
    margin-top: 10px;
}
    
#friedrice {
    height: 50%;
    background-color: #111;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 10px;
}
