body {
    background-color: #43035F;
}

div.botwpolaroid {
    width: 98%;
    background-color:#536f50;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.sc2polaroid {
    width: 98%;
    background-color: #005c05;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}
div.hzdpolaroid {
    width: 98%;
    background-color: #3639eb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.uc4polaroid{
    width: 98%;
    background-color: #1a1816;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.doompolaroid{
    width: 98%;
    background-color: #520003;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.hkpolaroid{
    width: 98%;
    background-color: #0c0042;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.rdr2polaroid{
    width: 98%;
    background-color:  #ff3333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.botwpolaroidsmall{
    width: 800px;
    height: 493px;
    background-color:#536f50;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 250px;
}

div.hkpolaroidsmall{
    width: 800px;
    height: 493px;
    background-color: #0c0042;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 250px;
}

div.uc4polaroidsmall{
    width: 800px;
    height: 493px;
    background-color:  #1a1816;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 250px;
}

div.hzdpolaroidsmall{
    width: 800px;
    height: 493px;
    background-color:  #3639eb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 250px;
}

div.rdr2polaroidsmall{
    width: 800px;
    height: 493px;
    background-color:  #ff3333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 250px;
}

div.doompolaroidsmall{
    width: 800px;
    height: 493px;
    background-color:  #520003;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 250px;
}
