body {
    background-color: #270D37;
}

iframe {
    width: 31%;
    margin: 0px 5px 0px 0px;
}

#sc2 {
    width: 80%;
    margin: 5px 0px 0px 0px;
}

div.polaroid {
    width: 98%;
    background-color: #801404;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.westeradopolaroid {
    width: 98%;
    background-color:#b45700;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.dirtpolaroid {
    width: 98%;
    background-color:#7c5500;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}
div.botwpolaroid {
    width: 98%;
    background-color:#536f50;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.sc2polaroid {
    width: 98%;
    background-color: #005c05;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}
div.hzdpolaroid {
    width: 98%;
    background-color: #3639eb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.uc4polaroid{
    width: 98%;
    background-color: #1a1816;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.doompolaroid{
    width: 98%;
    background-color: #520003;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.hkpolaroid{
    width: 98%;
    background-color: #0c0042;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.rdr2polaroid{
    width: 98%;
    background-color:  #ff3333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.halopolaroid{
    width: 98%;
    background-color: #010052fa;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.botwpolaroidsmall{
    width: 100%;
    background-color:#536f50;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 0px;
}

div.botwpolaroidsmall > img{
    width: 100%;
}

div.hkpolaroidsmall{
    width: 100%;
    background-color: #0c0042;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 0px;
}

div.hkpolaroidsmall > img{
    width:100%;
}

div.uc4polaroidsmall{
    width: 100%;
    background-color:  #1a1816;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 0px;
}

div.uc4polaroidsmall > img {
    width: 100%;
}

div.hzdpolaroidsmall{
    width: 100%;
    background-color:  #3639eb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 0px;
}

div.hzdpolaroidsmall > img{
    width: 100%;
}

div.rdr2polaroidsmall{
    width: 100%;
    background-color:  #ff3333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 0px;
}

div.rdr2polaroidsmall > img {
    width: 100%;
}

div.doompolaroidsmall{
    width: 100%;
    background-color:  #520003;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 0px;
}

div.doompolardoismall > img{
    width: 100%;
}
