* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #064789;
    color: #eee;
    font-family: Geneva, Tahoma, sans-serif;
}

.hero {
    display: block;
    height: 500px;
    padding-bottom: 20px;
}

h2 {
    padding-top: 30px;
}

h3 {
    margin-top: 30px;
}

section.features article {
    font-weight: 200;
    width: 300px;
    height: 169px;
    margin: 0 10px 10px 0;
    border: 1px solid #fff;
    background-size: cover;
    transition: box-shadow 0.5s ease;
}
section.features article:hover {
    box-shadow: inset 0 0 169px 0 rgba(200, 0, 255, 0.7);
}

section.features article > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}
section.features article:hover > a {
    opacity: 1;
}

@media (hover: none) {
    section.features article {
        box-shadow: inset 0 0 169px 0 rgba(200, 0, 255, 0.5);
    }
    section.features article > a {
        opacity: 1;
    }
}

a {
    color: white;
    text-decoration: none;
}

section.gallery {
    display: flex;
    max-width: 1200px;
    max-height: 1352px;
    flex-wrap: wrap;
}

section.features {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container {
    width: 600px;
    max-width: 100%;
}

/* PHONE OPTIMIZATION */
/*
@media only screen and (max-width: 650px) {
    nav {
        display: none;
    }
    #wrapper {
        margin-left: 0;
        width: 100vw;
    }
}
*/