* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(111, 13, 175);
    color: #eee;
    font-family: sans-serif;
}

iframe {
    padding: 10px 0 10px 0;
}
#intext {
    float: right;
    width: 250px;
    height: 300px;
    padding: 10px 30px 15px 15px;
}

#intextleft {
    float: left;
    width: 250px;
    height: 250px;
    padding: 10px 30px 0 10px;
}

div.polaroid {
    width: 98%;
    background-color: #A51F02;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.hzdpolaroid {
    width: 98%;
    background-color: #3639eb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.uc4polaroid{
    width: 98%;
    background-color: #1a1816;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    margin-top: 25px;
}

div.uc4polaroidsmall{
    width: 800px;
    height: 493px;
    background-color: #1a1816;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 250px;
    
}

div.caption {
    text-align: center;
    padding: 10px 20px;
}


.hero {
    display: block;
    height: 650px;
    width: 1297px;
}

h1 {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 44px;
    font-weight: bold;
}
h2 {
    padding-top: 30px;
    padding-bottom: 20px;
}

h3 {
    margin-top: 30px;
}

article {
font-size: 44;
font-weight: 200;
width: 250px;
height: 200px;
border: 1px solid black;
}

a {
    color: white;
    text-decoration: none;

}

#current {
    color: black;
    text-decoration: none;
}

section {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}

#wrapper {
    width: calc(100vw-200px);
    margin-left: 200px;
}

nav {
    position: fixed;
    width:200px;
    text-align: center;
    background-color: #110e11;
}

nav .active {
    background-color: #eee;
    color: #111;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
    border: 1px solid white;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.line-dec {
    max-width: 1250px;
    height: 2px;
    background-color: #fff;
    margin: 20px 0;
}

.infobox {
    display: flex;
    justify-content: space-evenly;
    width: 1297px;
    background-color: gray;
}

.infobox > .info {
    width: 30%;
    padding: 0 20px;
}

.head {
    margin-block-start: 0.50em;
    margin-block-end: 0.50em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
.subtitle {
    margin-block-start: 0.50em;
    margin-block-end: 0.50em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

p {
    width:1250px;
    justify-content: left;
    margin-top: 10px;
    line-height: 1.5;
}
