.hero {
    display: block;
    width: 100%;
}

h1 {
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 44px;
    font-weight: bold;
}

h2 {
    padding-top: 30px;
    padding-bottom: 20px;
}

h3 {
    margin-top: 30px;
}
