body {
	background-color: #20525A;
}

.container {
    position: relative;
    width: 200px;
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    flex: 50%;
    border: 1px solid white;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

section.features article {
    font-weight: 200;
    width: 300px;
    height: 169px;
    margin: 0 10px 10px 0;
    border: 1px solid #fff;
    background-size: cover;
    transition: box-shadow 0.5s ease;
}

section.features article:hover {
    box-shadow: inset 0 0 169px 0 #002500;
}

section.features article > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

section.features article:hover > a {
    opacity: 1;
}

.text {
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}