body {
    background-color: #4B1607;
}

#tvhead {
    color: #f5a060;
}

div.uc4polaroidsmall{
    width: 100%;
    background-color:  #1a1816;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 0px;
}

div.uc4polaroidsmall > img {
    width: 100%;
}