body {
    background-color: #4B1607;
}

div.uc4polaroidsmall{
    width: 100%;
    background-color:  #1a1816;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0;
}

div.uc4polaroidsmall > img {
    width: 100%;
}

div.hzdpolaroidsmall{
    width: 800px;
    height: 493px;
    background-color:  #3639eb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 250px;
}

div.rdr2polaroidsmall{
    width: 800px;
    height: 493px;
    background-color:  #ff3333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 250px;
}

div.doompolaroidsmall{
    width: 800px;
    height: 493px;
    background-color:  #520003;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 25px 0px 25px 250px;
}
