{% extends 'base.jinja2' %}

{% block title %}Food - HTX{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}food.css">
{% endblock head %}

{% block body %}
    <h1>Houston is an underrated food city.</h1>
    </p>
    <p>I grew up and spent the first 18 years of my life in Houston. It was only after I moved out that I started to appreciate the city's diversity. We've got everything from a bustling Chinatown to some of the best Texas BBQ, incredible Vietnamese food, Steakhouses, Ramen, Tex-Mex, you name it. I might not be a local anymore, but I like to think I know a thing or two about the city's food scene. There's something for everyone here, so I've broken my list of recommendations into different categories. </p>

    <h1>Tex-Mex / Mexican</h1>
    <p>This seems as good a place to start as any. Houston Tex-Mex restaurants are known mostly for their fajita platters, which usually feature skirt steaks marinaded in a lime-salsa-cumin-etc deliciousness mixture. Compared to traditional Mexican cuisine, Tex-Mex generally features a buttload of cheese - queso, for example, is a big thing here and can often be ordered as an appetizer. </p>
    <p>Besides that, most of the emphasis is on the aforementioned marinaded steaks and the absurdly large portion sizes. Everything is bigger in Texas, including our waistlines.
    </p>
    <br>
    <section class="features">


        <article><div class="container">
            <img src="../images/ninfasfajita.jpg" alt="Steak Fajita" class="image">
            <div class="middle">
                <div class="text"> Fajita Platter (Ninfa's) </div>
            </div>
        </div>
        </article>
        <article><div class="container">
            <img src="../images/torchys-tacos.jpg" alt="TV" class="image">
            <div class="middle">
                <div class="text"> Torchy's Tacos </div>
            </div>
        </div>
        </article>
        <article><div class="container">
            <img src="../images/lupe02.jpg" alt="STEAK LUPE motherfucker" class="image">
            <div class="middle">
                <div class="text"> Steak Lupe (Lupe Tortilla) </div>
            </div>
        </div>
        </article>
        <article><div class="container">
            <img src="../images/lupe03.jpg" alt="escalantes" class="image">
            <div class="middle">
                <div class="text"> Enchiladas (Escalante's) </div>
            </div>
        </div>
        </article>
        </section>
    <p>It's pretty hard to go wrong here, but I would recommend 4 restaurants to get started. <i>Lupe Tortilla</i>, specifically the one off Highway 6, has great fajitas and the Steak Lupe, an enormous slab of meat and monterey jack with pico de gallo. It's a hefty but delicious meal - I've never had a bad time at Lupe. <i>Ninfa's</i> has multiple locations, but the one on Navigation is the original and still the best. Their steak fajitas are probably the best in town, although their chicken is lacking in comparison. Also their service is exceptionally fast.</p>
    <p><i>Torchy's Tacos</i> is a chain with multiple locations focused on big fuckin' tacos with wild ingredients. They're a bit pricy ($3-$4 per) but 2-3 should be enough for most people. Highly recommend the Trashy Trailer Park and the Baja Shrimp, as well as their Queso dip. The last restaurant I'd go for is <i>Escalante's</i>. I've only eaten there a few times but the main reason I come back is for their bacon-wrapped shrimp, which can be ordered multiple ways/as part of a fajita. Honestly though they're so good I usually just eat them straight up. They're as delicious and gluttonous as they sound.</p>
    <p>Worth noting, however, that guacamole/general avocado based things are not going to be that great here in comparison to say, Southern California. After all we get most of our avocados from there, so don't expect too much. Many restaurants (Lupe included) will serve bean dip instead of Guac, in addition to salsa.</p>
    <div class="modal"></div>

    <h1>Ramen / Japanese</h1>
    <p><i>Jinya (Midtown)</i>: Some of the pricier ramen you can get, but definitely worth the price of admission. They have base ramens that you can pick from and add/remove ingredients as you like. Usually gets pretty busy on the weekends. </p>
    <p><i>Tiger's Den (Chinatown):</i> Cheaper but almost always has a wait, as the restaurant itself is tiny. I think it's just slightly below Jinya, although I like the rest of their menu (appetizer/non ramen things) better. </p>
    <p><i>Gyu-kaku Japanese BBQ:</i> This is very similar to Korean BBQ if you've ever had that; they have plates of raw meat that you cook for yourself on a grill at your table. The grilling process is super easy, and even though it's a la carte and not AYCE, Gyu-kaku is generally a pretty good value, especially if you go during lunch. Also I think their house salad is dank as fuck.</p>
    
    <section class="features">
        <article style="background-image: url(../images/starcraft.jpg)">
            <a href="game_reviews.html">Video Game Reviews</a>
        </article>
        <article style="background-image: url(images/always%20sunny.png)">
            <a href="tv_music_reviews.html">Movie/TV Reviews</a>
        </article>
        <article style="background-image: url(images/cookiemonster.gif)">
            <a href="food.html">Recipes/Restaurants</a>
        </article>
        <article style="background-image: url(images/travel.gif)">
            <a href="travels.html">Travel Blog/Incoherent Ramblings</a>
        </article>
    </section>

    <h2>Click the sidebar to check out more content or return home.</h2>
{% endblock body %}
