{% extends 'base.jinja2' %}

{% block title %}Lupe Tortilla: The GOAT{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}food.css">
{% endblock head %}

{% block body %}
    <h1>I've never had a bad experience at Lupe Tortilla.</h1>
    </p>
    <p>Sometimes, you have to wait to be seated, especially after 7PM. Sometimes, the weather is really hot, and the only free tables are on the patio outside. Sometimes, the parking lot is so full, you have to park in their backup lot, which is a lot farther away.
    </p>
    <p>But I have never, EVER, been dissatisfied with my meal at Lupe Tortilla.</p>
    <div class="polaroid">
        <img src="../images/lupecover.jpg" alt="lupecover" style ="width:100%">
        <div class="caption">The Original Lupe Tortilla, 318 Stafford St @ Hwy 6, Houston TX 77079</div>
    </div>

    <p> My family and I have been to Lupe hundreds, if not thousands of times by now. I could probably buy a car with all the money we've spent there. We're at the point where most of the waiters remember my order. And whenever I'm back in town, I always make sure to stop by Lupe at least once. While you can get good Tex-Mex pretty much anywhere in Houston, I've lived in that city long enough to confidently say this: Lupe is King.</p>
    <h1>Accept No Substitute</h1>
    <p>Like any decent Mexican restaurant, every meal at Lupe starts with complementary chips and salsa. Bean dip is also included - guacamole's available but has to be ordered separately. Probably because we don't shit out avocados like California can. The chips are your standard fare; the salsa and dip are both flavorful in their own right, with the beans being more savory than their spicy counterpart. Open up the menu, however, and you get right to the good stuff.
        <br><br>
    </p>
    <section class="features">
        <article><div class="container">
            <img src="../images/lupe01.jpg" alt="Steak Fajita" id ="sizing" class="image">
            <div class="middle">
                <div class="text"> Fajita Platter </div>
            </div>
        </div>
        </article>
        <article><div class="container">
            <img src="../images/lupe03.jpg" alt="TV" id ="Enchilada" class="image">
            <div class="middle">
                <div class="text"> Enchilada Combo </div>
            </div>
        </div>
        </article>
        <article><div class="container">
            <img src="../images/lupe02.jpg" id ="sizing" alt="STEAK LUPE motherfucker" class="image">
            <div class="middle">
                <div class="text"> Steak Lupe </div>
            </div>
        </div>
        </article>
        <article><div class="container">
            <img src="../images/lupe04.jpg" id ="sizing" alt="Lupes Salmon" class="image">
            <div class="middle">
                <div class="text"> Lupe's Salmon </div>
            </div>
        </div>
        </article>
        </section>
        <br><br>
    <p>While it's pretty hard to go wrong here, my recommendations are either a Steak Lupe for yourself, or the big Fajita platter for 2+. <br>The Steak Lupe is an absolute behemoth of a meal, featuring a huge slab of lime pepper marinaded steak covered with melted Monterey Jack cheese and pico de gallo. It comes with tortillas, beans, and rice to make your own burritos, but honestly I usually just clean the plate. </p>
    <p>The fajita is served on a sizzling hot platter, and continues to cook for a few minutes after they deliver it to your table. The smell is absolutely intoxicating....I'm getting hungry just thinking about it. It comes with all the fixin's - pico de gallo, guacamole, sour cream, shredded cheese, beans, rice, and some unbelievably soft tortillas. Don't order this unless you're okay with eating an absolutely barbaric amount of food, as the portion sizes are quite huge. You can choose your proteins as well - for my money the steak is the best bet, but the shrimp and chicken are not too shabby either.</p>
    <p>If those two sound a little bit heavy for you...come back when you're hungrier. They're absolutely the stars of the menu. But for other recommendations: the enchiladas are all delicious, and they have some surprisingly decent seafood too (no idea why, but it's there if you want it).</p>
    <div class="modal"></div>

    <h1>Final Thoughts</h1>
    <p>I realize I'm probably being a little bit hyperbolic, and definitely a lot biased. My parents live about 10 minutes from the original Lupe Tortilla, so it's no surprise that I ended up eating there a lot. There are some other pretty good Tex-Mex restaurants in Houston: Ninfa's comes to mind, as does El Tiempo and Escalante's. But if someone were to visit Houston, Lupe is where I would take them first. After many, many, <i>many</i> visits over the years, they have yet to let me down, and damnit I'll keep giving them my business until they do. </p>
    <h2>Click the sidebar to check out more content or return home.</h2>
{% endblock body %}
