{% extends 'base.jinja2' %}

{% block title %}The Legend of Zelda: Breath of the Wild{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}game_reviews.css">
{% endblock head %}

{% block body %}
    <img src="../images/botwcover.jpg" class="hero" alt="cover">
    <div class= "infobox">
        <div class="info">
            <div class="head">TYPE OF GAME:</div>
            <div class="subtitle">Open World Action Adventure</div>
        </div>
        <div class="info">
            <div class="head">AVAILABLE ON:</div>
            <div class="subtitle">Wii U (RIP), Nintendo Switch</div>
        </div>
        <div class="info">
            <div class="head">DEVELOPER:</div>
            <div class="subtitle">Nintendo</div>
        </div>
    </div>
    <div class= "infobox">
        <div class="info">
            <div class="head">RELEASE DATE:</div>
            <div class="subtitle">March 3, 2017</div>
        </div>
        <div class="info">
            <div class="head">STRENGTHS:</div>
            <div class="subtitle">Awesome physics engine, open-world design that actually feels open, fun to explore</div>
        </div>
        <div class="info">
            <div class="head">WEAKNESSES:</div>
            <div class="subtitle">Weak dungeons/bosses, difficulty curve is weird, bland story</div>
        </div>
    </div>

    <p>Breath of the Wild is a landmark video game. It has completely reinvented one of the oldest and most storied franchises of all time, redefined open world video game design, and boasts some incredibly creative and fluid gameplay. Although it's my first Zelda game, Breath of the Wild is easily one of my favorite video games of all time.
    </p>
    <p>Opinions are like buttholes, though, and everyone's got one. Some long-time fans of the series have been put off by the complete 180 in design philosophy and new mechanics, such as weapon durability, lack of large dungeons, and completely non-linear gameplay. While these are definitely valid criticisms - BotW is nothing like most other Zelda games - it remains to be seen how much this game will influence future titles. Let's take a look at what makes Breath so unique, and hopefully figure out if this is a game you'd end up enjoying.
    </p>
    <h1>A Breath of Fresh Air</h1>
    <p>BotW reinvents the wheel for the Zelda franchise by switching to an open world format. Gone are the linear questlines and strict pacing - outside of the opening tutorial sequence, you technically don't <i>have</i> to do anything. And when I say anything, I really mean anything - you don't have to do any of the main quests, or complete any of the Divine Beasts (the main dungeons), or talk to random NPCs on the map to further the story. The game gives you all the tools and mechanics you'll need in the first 2 hours, and then pretty much hands you the reins and says "alright, good luck out there champ."</p>
    <p>From the beginning, it's clear what Nintendo was aiming for: freedom. The world is huge and fun to explore, thanks to the fact that Link can climb anywhere and glide from any height, as long as he has enough stamina. But where Nintendo really made their mark is how they differed in the design philosophy of their open world.
    </p>
    <p>    
    In most open worlds, the free roaming is separate from the main quests, which is usually contained to a specific area on the map, and only initiated by talking to a certain NPC. This contrast can often feel a bit jarring, as the linear story missions play completely different to the no holds barred, anything goes free roam. Breath gets around this problem by simply making the free roaming and the main content one and the same. The entire map is littered with useful things, from Shrines to Koroks to enemy outposts to treasure chests, ensuring that no matter which way you go, it's the <b>correct</b> way.</p>
    <div class="botwpolaroid">
        <img src="../images/botwpretty.jpeg" alt="prettyshit" style ="width:100%">
        <div class="caption">Exploration is always rewarded, one way or another.</div>
    </div>
    <p>I mentioned before that you don't have to actually do any of the main quests. You can, if you wish, walk straight to Ganondorf's castle immediately after the tutorial, armed with nothing but your swim trunks and a tree branch. Obviously, actually killing him at this stage is pretty fucking difficult, and the main quests act as a natural incentive for you to explore the rest of Hyrule and become more powerful. But it's nice to see a company take a different approach to a somewhat tired formula, and I appreciate that this game gives you the freedom of choice, not just the illusion of it.
    </p>

    <h1>The Meat and Potatoes</h1>
    <p>I've harped on about how cool Nintendo's design for this game is. For good reason, though - the concept of "freedom" is one that permeates throughout BotW's gameplay as well. Much like how you're allowed to tackle the story in any order you wish - or even not at all - how you play through Breath and its many fights and challenges is entirely up to you, and one of my favorite parts about this game is simply watching other people play it, because everyone approaches the same encounters so differently. Melee combat, using the environment to your advantage, bows & thrown weapons, stealth, and spells are all part of your vast arsenal. However, what really makes all of this work is the game's absolutely fantastic physics engine. </p>
    <p>Everything in the entire game - from leaves of grass to bodies of water to small stones on the ground - can be interacted with and used to your advantage, and it all works in a predictable and logical way. Grass can be set on fire to create an updraft, which Link can use with his glider to gain a height advantage for his bow & arrow attacks. From his bow, he can shoot electric arrows that are much more effective if you can find a source of metal or water. Link can even stop time, manipulating objects and preserving their momentum, which can enable him to catapult rocks into unsuspecting foes, or perhaps hop on boulders to recreate a Spirit airlines flight.
    </p>
    <div class="botwpolaroidsmall">
        <img src="../images/botwstasis.gif" alt="stasis" style ="width:100%">
        <div class="caption">I must go. My people need me.</div>
    </div>
    <p>I could go on and on with examples, but my point is that Nintendo did a great job making sure that there is no "wrong" way to play BotW. Everything works, and no matter what your preferred playstyle is, you'll find that Breath accomodates it. What really makes this game so rewarding to play is that experimenting with new ideas is logical, and 99% of the time whenever I thought to myself "Hey, I wonder if this will work?" the answer was yes.
    </p>
    <p>I highly encourage not looking up anything when you play this game. Nothing is overly difficult, and the joy of discovering the solution - <i>your</i> solution - to a challenge is when Breath of the Wild is at its best. I could write an essay about all the cool shit there is to see in this game, but I think it's best to just let people discover it for themselves.</p>

    <h1>Nintendo Pls</h1>
    <p>While Nintendo got a lot of things right here, it's frustrating to see them continue to fail at the same dumb shit their games have always lacked. You'd think that one of the most prolific and longest-running video game makers of all time would've figured out things like the UI and basic menus by now. Why do I still have to sell all my items one by one? When you have a complete set of armor, why isn't there an option to equip it all at once? Why can't I sort my items on my own, or change the controls to a layout that isn't shit? These choices would be embarassing for any game devs, but for a company of Nintendo's caliber it is simply inexcusable. </p>
    <p>In addition, the difficulty curve makes absolutely 0 fucking sense. When you start the game, you're actually playing through the hardest parts - you die very easily, have shitty weapons and armor, and you don't have much ammo for your bow. As you keep playing, Link gets stronger in a lot of ways - you can upgrade his spells, unlock powerful Champion abilities, obtain backup second lives, learn to cook food that gives you powerful buffs, and can complete sets of armor to give him extra boosts in combat. Your opponents, meanwhile, get...uh, slightly more health.</p>

    <p>As a result, after a while you'll realize that pretty much everything is a cakewalk, and Link can steamroll most enemies without breaking a sweat. It kind of sucks that a lot of the game's mechanics like dodging and parrying end up getting tossed out of the window by the inconsistent difficulty curve.</p>
        <div class="botwpolaroid">
        <img src="../images/botwlynel.jpg" alt="lynel" style ="width:100%">
        <div class="caption">Fuck Ganon, this is where the real game starts.</div>
    </div>
    <p>Speaking of inconsistent difficulty: the enemies you fight vary <i>wildly</i>. Lynels, a creature you can find all throughout Hyrule at any time, are by far the hardest opponents in the game, while the final boss and main dungeon bosses are laughably easy in comparison. This leads to some incredibly anti-climactic fights during the game's most important moments. The dungeons themselves, as well as their smaller Shrine counterparts, feel a little lazy and sometimes copy-pasted. The Divine Beasts end as soon as they become interesting. As for Shrines, I would've liked to see some more variety, at least in graphics and music, as they all share the same tileset and quickly start to blend together.</p>
        
    <p>Overall, if there's any criticism of BotW I agree wholeheartedly with, it's that the story is incredibly underwhelming and frankly just kind of bad. I'm not sure which is worse, the voice acting or the writing; Zelda sounds like a Renaissance Faire actress who forgot the show left a week ago, and the dialogue ranges from kinda cheesy to just plain awful. Plot-wise, we're still recycling "Link kill Ganon save Zelda hooray," because 30 years is just not enough time to come up with new ideas. While there's some cool bits of lore you can find if you poke around enough, this game is good <i>despite</i> its story, not because of it.
    </p>
    <h1>Quick Thoughts on DLC</h1>
    <p>Thinking of picking up the DLC for $20? Fret not, because I did it for you.
    </p>
    <p><b>The Master Trials (DLC Pack 1):</b> Trial of the Sword is a fun challenge but the reward feels underwhelming. Master Mode also feels like a huge missed opportunity here. Rather than making enemies more intelligent or giving them different abilities, they just gave them <i>even more health.</i> I cannot think of a more boring, unimaginative way to increase difficulty. If you really want to piss yourself off, do Trial of the Sword on Master Mode, and witness the aftermath of not play-testing your product.
    </p>
    <p><b>The Champion's Ballad (DLC Pack 2):</b> Again, the actual Champion's Ballad is pretty sweet and a lot of fun to play through, but the reward is strange. It allows you to travel more easily, except you can only start this DLC once you've beaten the 4 Divine Beasts. So, by the time you actually unlock your trusty new steed, you've basically already explored everything anyways. Some of the other goodies included in this DLC literally get made obsolete by this new mount, so it feels like an afterthought. There are some extra items scattered throughout the world, and hunting them down is a fun albeit largely pointless endeavor. </p>
    <p>But overall, I would only recommend the DLC if you've already completed the main game and enjoyed it immensely. These expansions will not sway your opinion of the game.</p>
    <h1>Verdict</h1>
    <p>Basically, this game boils down to Do you like experimenting/free roaming, or Do you like more linear, story-driven gameplay.
        <br> I'm a free roam kinda guy, so my final vote is 9.5 wallops out of 10 chumbuckets.</p>
{% endblock body %}
