{% extends 'base.jinja2' %}

{% block title %}God of War{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}game_reviews.css">
{% endblock head %}

{% block body %}
    

<img src="../images/god_of_war.png" class="hero" alt="cover">
<div class= "infobox">
    <div class="info">
        <div class="head">TYPE OF GAME:</div>
        <div class="subtitle">Action-Adventure RPG</div>
    </div>
    <div class="info">
        <div class="head">AVAILABLE ON:</div>
        <div class="subtitle">PS4</div>
    </div>
    <div class="info">
        <div class="head">DEVELOPER:</div>
        <div class="subtitle">Santa Monica Studio</div>
    </div>
</div>
<div class= "infobox">
    <div class="info">
        <div class="head">RELEASE DATE:</div>
        <div class="subtitle">April 20, 2018</div>
    </div>
    <div class="info">
        <div class="head">STRENGTHS:</div>
        <div class="subtitle">Weighty combat, strong soundtrack, great story & writing</div>
    </div>
    <div class="info">
        <div class="head">WEAKNESSES:</div>
        <div class="subtitle">Boring-ass puzzles, copy-pasted bosses, forgettable side content</div>
    </div>
</div>

<p>I'll preface this review by saying this is my first God of War game. I did look up a little bit
of backstory before hopping in, enough to know that Kratos used to be the Greek God of War, up until
he murdered the entire Greek pantheon for being mean and stealing his LEGOs, among other atrocities.
A pretty reasonable response, honestly.
</p>
<p>While other games in the franchise are mostly known for their button mashing, huge 1000-hit
combos, and gratuitous violence, Santa Monica Studio's latest entry differs itself by taking a more 
somber tone, and slowing down the combat for a more deliberate feel. Fret not, however, for 
the gratuitous violence is still here, along with some of the coolest fights and set-pieces
in gaming today.
</p>
<h1>Dad of Boy</h1>
<img src="../images/gow_boy.jpg" id="intext">
<p>The biggest change to the God of War formula is immediately obvious: Kratos has a son now,
Atreus, a peppy little shit who constantly endangers both of them with his antics while somehow being completely
immune to demons, undead, and pretty much everything else you fight. It's a dynamic that's starting
to become a bit cliche (see: The Last of Us), but it works here to great effect thanks to some
stellar writing. Their evolving
relationship was one of the highlights of the game for me -- some of my favorite moments are
just them and their pet talking head, chilling in a boat and swapping stories. The contrast
between wise old Head, naive and curious Boy, and stone-cold killer Kratos made for some 
genuinely hilarious moments. </p>
<p>From the outset, Kratos feels more fragile and vulnerable than ever, as the game opens with the cremation
of his recently deceased wife, shortly before launching into one of the coolest tutorials ever
(how often do I get to say that?). From there, the game settles into a comfortable pace. While you spend most of your time
following the fairly linear main story, you do have a kind-of-not-really open world to explore.
But more on that later. 
</p>

<h1>Heads Will Roll</h1>
<p>Character development, emotional arcs, expertly-crafted plot, blah blah blah. What's it 
    like to actually play?</p>
    <div class="polaroid">
    <img src="../images/gow_axe.gif" alt="gtfo" style ="width:100%">
    <div class="caption">In short: pretty goddamn awesome.</div>
</div>
<p> In long: combat in this game feels chunky, and rewards calculated, deliberate play, with an
emphasis on dodge rolls, parrying, and counterattacking. It's ironically quite difficult to brute
force your way through enemies - Kratos is fairly squishy despite being a literal God of War,
but the more you play reveals how capable he and Boy are.</p>
<p>There's a satisfying amount of depth here. While you start out with the basics - throwing your
magic ice axe that returns to your hand like Thor's Hammer - you quickly unlock a plethora of moves
and combos. While you probably could get through the game just with R1, it's a lot of fun playing
around with your special Runic Attacks, charge-up attacks, throwing combos, and your unarmed
whack-a-mole mode. Controls are snappy and intuitive, and each new move you pick up feels like
a natural extension of your existing skillset.
</p>
<p>I also appreciated how easy it was to experiment and switch up your loadout. Although the menus
are rather clunky, you can switch up your Runic Attacks and enchantments at any time.
While Kratos can spend his XP on new techniques, XP is earned fast enough that you 
never really feel  punished for picking a "wrong" move that doesn't suit your playstyle. 
I'm sure there's an objective "best" loadout, optimized for maximum damage, but honestly it felt 
hard to have an unviable build in this game.
</p>

<h1>Norsin' Around</h1>
<p>Unsurprisingly, God of War has moved away from Greek mythology, since there is pretty much
no one left in that world for Kratos to ruthlessly murder. Instead, you find yourself in the Norse 
realm of Midgard. As you explore the world, you'll realize that the game is not really
open world in the traditional, GTA-esque sense, but you can opt to explore via boat and do some
side content whenever you're not cleaving dudes in half with your axe.
</p>
<p>While there's not a whole lot of other characters to meet, the few that you do are colorful
and interesting enough that it doesn't really matter. The previously mentioned talking head 
is certainly the star here, providing both insight into the lore and mythology of the world,
while also hitting Kratos and Boy with some hilarious zingers. 
I won't mention any of the other characters for spoiler's sake, but they do a great job making
the world feel fleshed out and alive.
</p>
<p>It's also worth mentioning how gorgeous this game looks. I feel like it's almost a given
for PS4 exclusives but damn, I loved this game's art style. The music as well is menacing
and thunderous, and it feels like it's always appropriate for whatever's happening on screen.
</p>

<h1> The Part Where I Complain About Things </h1>
<p>No game is perfect and GoW is no exception. A lot of the side quests feel tacked on, and frankly
it's obvious how much lower quality they are versus the main game. Half the questgivers are 
literally just ghosts that all share the same model and voice...like, c'mon guys. There are 2 extra 
realms you can travel to, which function like challenge modes, and there are also extra 
late-game bosses you can seek out if you desire. But for the most part, I didn't feel compelled 
to keep playing after I had beaten the main story.</p>
<p>Other minor gripes include: tacked-on RPG stuff like clunky/boring equipment management.
Boring puzzles that slow the pacing of the game down and aren't challenging at all, as 95% of them 
are just "find blue thing to throw axe at." But by far the biggest issue this game has is the 
lack of boss variety. <b>It's a testament to how fun the combat is that I didn't even notice this 
till I was about 10 hours into the game.</b> But it finally came to a head when, after a dramatic 
and emotional sequence, Kratos finds himself in a desperate situation, hunting a deadly 
foe known only as the Gate-Keeper in a land few return from. 
So imagine my disappointment when, after all this buildup,
I confront this guy and discover that he is just another re-skinned Troll Except This Time 
He's Green.
</p>
<div class="polaroid">
    <img src="../images/gow_troll.jpg" alt="troll" style ="width:100%">
    <div class="caption">I didn't realize it at the time, but you're looking at about 1/3rd of the bosses in this game.</div>
</div>
<p>Seriously. I get that making games is hard and all, and re-using resources is easy and efficient,
but this is a big budget, AAA studio game. For all the awesome, jaw-dropping spectacle God of War
provides, it wouldn't have hurt to have a few more bosses to fight.
</p>
<p>Also, why the hell is there climbing in this game?</p>   
<h1>Verdict</h1>
<p>If you're looking for a single-player game with gripping narrative and hard-hitting combat,
do yourself a favor and pick up God of War. Even if you're not a big fan of the dodge-and-hit 
genre or "Soulslike" games, it's really not that difficult and the story alone is worth experiencing.
Despite the repetitive bosses, overall the game is so fun that I can recommend it
literally just off the first hour alone.
<br>12 thumbs up out of 8 BOYs.</p>
<br>
{% endblock body %}