{% extends 'base.jinja2' %}

{% block title %}Uncharted 4: A Thief's End{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}game_reviews.css">
{% endblock head %}

{% block body %}
    

<img src="../images/uc4.jpg" class="hero" alt="cover">
<div class= "infobox">
    <div class="info">
        <div class="head">TYPE OF GAME:</div>
        <div class="subtitle">Third-Person Climbing Simulator</div>
    </div>
    <div class="info">
        <div class="head">AVAILABLE ON:</div>
        <div class="subtitle">PS4</div>
    </div>
    <div class="info">
        <div class="head">DEVELOPER:</div>
        <div class="subtitle">Naughty Dog</div>
    </div>
</div>
<div class= "infobox">
    <div class="info">
        <div class="head">RELEASE DATE:</div>
        <div class="subtitle">May 10, 2016</div>
    </div>
    <div class="info">
        <div class="head">STRENGTHS:</div>
        <div class="subtitle">Funny dialogue and purty graphics</div>
    </div>
    <div class="info">
        <div class="head">WEAKNESSES:</div>
        <div class="subtitle">My god, where do I start</div>
    </div>
</div>

<p>If you've read some of my other reviews, you probably know I hate this stupid-ass
"climbing" mechanic that a lot of developers seem to be obsessed with. It's unfun,
grinds the gameplay and pacing to a halt, requires 0 skill, and largely is just a 
time sink that devolves into "which direction do I point the stick in." For my money,
Breath of the Wild is probably the only game I've played in the last decade that actually
made climbing kind of interesting. But for most games, it adds nothing and
should just be a cutscene.
</p>
<p>With that being said. Why is there so.
    <br>much.
    <br>fucking.
    <strong><br>CLIMBING.</strong>
    <br>in this goddamn video game.
</p>
<h1>Hoodwinked. Bamboozled. Led Astray. Run Amuck...</h1>

<p>If you took all the climbing from Uncharted 4 and turned them into cutscenes,
you'd be left with 2, maybe 3 hours of mediocre third-person cover based shooting
- you know, the kind of gameplay we should've left behind after Gears of War 
announced their 406859th installment. Sprinkled in there is about 30 minutes of
pretty cool setpieces and epic car chases, but to get to it you have to sit through 
HOURS of boring, uninspired bullshit that frankly isn't worth the payoff. </p>
<div class="uc4polaroidsmall">
    <img src="../images/uc4chase.gif" alt="chase">
<div class="caption">This part of the game is actually pretty awesome. Good luck
        getting to it without dying of boredom though.
    </div>
</div>
<p>For a game about violent criminal treasure hunters, you sure spend a lot of time
    just doing fucking nothing. When you're not climbing up pre-determined, railroaded
    handholds, you're doing other stupid menial bullshit, like finding crate #5000 so
    you can boost you/your invincible AI partner up to the next ledge so that you can 
    CONTINUE CLIMBING. You know it's bad when I couldn't even get excited to use the 
    grapple hook, since most of the time it signaled more - you guessed it - climbing.
Please, please, PLEASE can we get rid of these ancient "adventuring" mechanics 
where we search a dilapidated room mashing the shit out of the interact button, hoping
we can find the one fucking clue (slightly off-color box) the developer left us to advance the
story. </p>

<h1>...and Flat out Deceived</h1>
<img src="../images/uc4meme.jpg" alt ="lol" id="intext">
<p>If this is reading as overly or unfairly harsh, it's because I genuinely struggled
to derive any enjoyment from slogging through the 12ish hours of "content" this game has.
It took me a long time to beat this game, not because I got stuck on a hard part - rather,
I had to <i>convince</i> myself to play it. It literally became a chore to me.</p>
<p>
It handles like shit, the guns feel and sound like toys and are about as effective,
and the controls remind me of Dark Souls (read: are complete balls). If I had a nickel
for every time I tried to jump to another building, only to have my guy randomly decide 
to lower himself to a nearby ledge instead while 50 dudes unloaded rifles into me, I'd 
probably have enough to refund the $20 I spent on this game.
</p>
<p>The story, while not the worst thing I've ever sat through, isn't nearly enough
to save the game. Frankly, it feels ripped straight out of a feel-good Disney summer
blockbuster, where tons of conflict is introduced, and then 30 minutes later it 
all magically resolves itself. It's kind of like the last episode of Star Wars,
where Chewbacca dies - for about 5 minutes, because plot armor.
Nothing bad actually ever happens to the main characters, 
which is complete bullshit given how much reckless and stupid crap they do. There's
no drama at all, no suspense because you know the good guys will win,
and it made me not care at all about what was happening.
</p>

<h1>Redeeming Qualities...?</h1>
<p>For what it's worth, the writing and voice acting are actually really good. Although 
the story is fairly predictable, the characters feel like real people and have
some pretty funny moments between them. Additionally, the game looks gorgeous when 
you're not staring at Nathan Drake's ass climb up a wall (so, never). Unfortunately, pretty much 
every PS4 game looks just as good, except other games have
gameplay that's actually fun in addition to their good looks. What a concept.
</p>
<div class="uc4polaroid">
    <img src="../images/uc4pretty.jpg" alt="gtfo" style ="width:100%">
    <div class="caption">Not bad.</div>
</div>
<p>Maybe I missed something, I don't know. This is my first Uncharted game, but not 
my first Naughty Dog game. I'm a fan of Jak & Dexter, and am eagerly awaiting The Last of Us
Part II, so maybe that & the positive reviews for this game had me setting my expectations
a bit too high. Even though I've just spent the past 30 minutes ripping this game 
a new ass, it's hard to put into words how disappointed I was by Uncharted.
</p>
<h1>Verdict</h1>
<p>I wish this game was released in VR, so you could shoot Drake in the head and
    save yourself 12 hours of immense boredom.<br>
    Seriously though: if you like linear action-adventures and don't mind climbing,
this game might be worth a shot. If you liked previous Uncharteds this is probably
already in your catalogue. I'm sure there's people out there who enjoy it,
but Uncharted 4 is gonna be a no for me, dawg.
</p>
<br>
{% endblock body %}