{% extends 'base.jinja2' %}

{% block title %}Westerado: Double Barreled{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}game_reviews.css">
{% endblock head %}

{% block body %}
    <img src="../images/westeradocover.jpg" class="hero" alt="cover">
    <div class= "infobox">
        <div class="info">
            <div class="head">TYPE OF GAME:</div>
            <div class="subtitle">2D Western Murder Mystery</div>
        </div>
        <div class="info">
            <div class="head">AVAILABLE ON:</div>
            <div class="subtitle">PC, Xbox One</div>
        </div>
        <div class="info">
            <div class="head">DEVELOPER:</div>
            <div class="subtitle">Ostrich Banditos</div>
        </div>
    </div>
    <div class= "infobox">
        <div class="info">
            <div class="head">RELEASE DATE:</div>
            <div class="subtitle">April 15, 2015</div>
        </div>
        <div class="info">
            <div class="head">STRENGTHS:</div>
            <div class="subtitle">Unique gameplay, very replayable, funny dialogue</div>
        </div>
        <div class="info">
            <div class="head">WEAKNESSES:</div>
            <div class="subtitle">Shooting is so bad it makes you want to shoot yourself</div>
        </div>
    </div>

    <p>I picked this game up for a grand total of 99 cents. Considering nowadays that gets me less than 1/3 of a gallon of gas, I'd say this game ain't too shabby. </p>
    <p>Westerado: Double Barreled is a Western-themed murder mystery that apparently started as an Adult Swim broswer game. Being of Yee-Haw descent means that I'm naturally a sucker for Westerns, so when I saw this game pop up I figured "why not." While the controls are a bit (okay, a lot) janky and the graphics are frankly pretty shit, Westerado is unique and novel enough that it still manages to be a fun and worthwhile experience.
    </p>
    <h1>Red Dead For Poor People</h1>
    <p>Much like a certain other Western franchise, Westerado takes place in an open world which you can freely roam. The story is kind of a choose-your-own-adventure in that you can tackle it any way you like. Any NPC can be interacted with, and you can interrogate, accuse, and even pull your gun on literally anybody you want to. In this way, it lets you play however you wish, and the game can be completed in many different ways. 
    <p>Westerado starts with a short tutorial, shortly before you ride back to your ranch to discover it in flames, with your mother and brother dead. Before he passes, your brother gives you a brief description of the killer, and your mission becomes clear: find the man that murdered your family, and shoot his ass.</p>
    <p>The entire game revolves around you trying to pick up clues about the killer, until you can deduce his identity and confront him. Clues are awarded in a variety of ways, from completing tasks given by NPCs to just talking with the characters in town. You can approach this however you see fit, and it's a lot of fun experimenting to see what works. Going in guns blazing might work in certain deserted areas, but in towns will get you in a lot of trouble. Pulling your gun on a meek drunkard might intimidate them into giving you what you want, but may result in a bloody gunfight if you try it on an unsavory personality.</p>
    
    <div class="westeradopolaroid">
        <img src="../images/westerado1.jpg" alt="westeradopoker" style ="width:100%">
        <div class="caption">As a matter of fact, yes.</div>
    </div>

    <p>No matter what you do or who you choose to help out, there's enough content that the game will always allow you to deduce the killer's identity. Westerado is well designed in that it really feels like you can freestyle it and play however you want, no guides necessary. No matter what blunders you've made or important NPCs you've killed, there's always another way forward towards your ultimate goal. Not to mention it's always fun to just walk up to random people and yell, "IT WAS YOU!" with your gun drawn.</p>
    <p>Although there's a lot of content to see, each time you play you'll find it only takes about 2-3 hours to catch the killer. The game is very replayable, as each campaign is pretty short and the killer is randomly generated each time, encouraging you to try different approaches on subsequent playthroughs. You might also unlock some new characters who start with different items. But for the most part, the main reason to re-visit this game is to see any quests that you might not've done before.</p>

    <h1>The Proverbial Banana Peel</h1>
    <p>Westerado succeeds on many fronts with its unique concept, and its open world feels more free than some AAA studio games do. Unfortunately, it is let down by one issue, a rather glaring one that I have a hard time forgiving: <b> the shooting.</b></p>
    <p>I'm not one to pretend like violence is the only interesting part of this game, because that's certainly not the case. The writing in Westerado is one of its best aspects, as it manages to be both serious and hilarious at the same time. It's backed by a slew of interesting characters who made exploring each new town a joy. However, there are times when push comes to shove, and unless you're going for a completely pacifist approach you will probably have to draw iron at some point.</p>

    <div class="westeradopolaroid">
        <img src="../images/westeradoshoot.jpg" alt="gunfight" style ="width:100%">
        <div class="caption">I found myself in this situation a lot.</div>
    </div>
    <p>As a top-down shooter, you can only move in 4 directions. What's worse is that you can only shoot in two, left and right, meaning enemies above and below you are an enormous threat. Aiming also feels really awful, and even after a few playthroughs largely just feels like guesswork. So many times I lined up the "perfect" shot, only to have it whiff, while other times I would just blindly fire and end up with a few hat-shots.
    As you can only have three hats (health points) at once, this mechanic is crucial as it lets you recover health, yet it's about as consistent as Antonio Brown's mental state.</p>
    <p>This isn't a game-breaking issue for the most part but rears its ugly head during the game's finale, when you finally confront your family's killer. The final sequence is a long and drawn-out gunfight that involves caves, dungeons, a horse chase, and finally a climactic duel. I was excited to take on my nemesis and bring him to justice (read: shoot his face), but instead just got annoyed at how far apart the checkpoints were. It feels like the last section of the game is deliberately designed to be annoying as possible, with tiny scorpions that scurry around and hurt you whenever you're not having to fight 60 dudes at once. Not to mention the killer, who shoots their gun so fast you can literally get stuck in the animation of putting on a new hat, losing all 3 of your hats before you can even move. Did anyone even play-test this part?</p> 
    <p>In the end I'm glad each playthrough only lasts for 2-3 hours, because that's about as much as I can take before I get bored of the gameplay. The shooting is so atrocious that it actively encouraged me to go for a more pacifist approach, which is a bit unfortunate considering the game is designed to be all about player freedom. </p>

    <h1>Verdict</h1>
    <p>Westerado is fun in short bursts, which is great since it's designed to be played in short bursts. The shooting is horrendous, but if you can get past that, it's pretty awesome to play a detective game where you get to decide what happens.</p>
    <p>According to Steam, Westerado normally sells for $14.99. I wouldn't recommend it at that price, but when it's on sale Westerado is absolutely a steal. It's unique, creative, and empowers the player to do whatever they feel like, whether they're a Peaceful Pete, a Bloodthirsty Bobby, or somewhere inbetween.</p>
    <p> I give 8-Bit Red Dead a 7.5/10.</p>
    <br>
{% endblock body %}
