{% extends 'base.jinja2' %}

{% block title %}Motorcycling{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}travels.css">
{% endblock head %}

{% block body %}
    <h1>Everyone Should Ride a Motorcycle</h1>
    <p>Buying a motorbike was probably the best thing I ever did for myself. </p>
    <p>When I was but a wee lad, my grandma would let me drive her little moped to the grocery store with her. While the puny beast probably topped out at a whopping 30 km/hr, I still remember the shit-eating grin plastered on my face and my grandma yelling at me to slow down.</p>
    <p>The next time I visited China, my uncle gave me a ride on the back of his bike - the first real motorcycle I'd ever been on. I don't remember much about it, except that it was red, loud, and that my legs were so short I couldn't reach the passenger pegs. Instead I, in my infinite 7-year-old wisdom, decided that the best place to rest my feet was <i>on the rear tire itself.</i></p>
    <p>As you can imagine, my first motorcycle ride was short-lived, and I've still got a massive scar on my right heel to this day. But something about that ride fundamentally changed me. When I got off the bike (read: was carted off by my parents) screaming bloody murder and in delirious pain, it somehow wasn't enogh to phase me. I'd always remember blasting through the wind, with a clear night sky above, and the giddy excitement I felt every time I heard the engine roar to life.</p>
    <div class="polaroid">
        <img src="../images/bikered.jpg" alt="redbike" style ="width:100%">
        <div class="caption">Was this the one, the destroyer of heels? Probably not, but hey, it's red.</div>
    </div>


    <h1>Reality Is a Cruel Mistress</h1>
    <p>I put the dream on the shelf for a while, since 7 year olds aren't exactly swimming with cash, and my parents were obviously not too fond of the fact that I'd nearly de-footed myself. But when I moved to Los Angeles for school and later work, I found myself weighing my options and budgeting for a bike of my own. After all, I'm blessed to be surrounded by some of the finest roads and scenic mountain drives in the world - not to mention the perfect sunny weather.</p>
    <p>So I did what any young, broke 22-year-old does: hop on Craiglist to buy a mechanically-sound, aesthetically-questionable piece of shit for not a lot of money. Since then, Rusty has taken me on nearly 10,000 miles worth of adventures, from offroading to camping in forests to canyon carving to long distance road trips. In terms of value for money, motorcycles simply can't be beat if you just want a machine to go and get lost on.</p>


    <h1>Safety/Training/Boring Shit</h1>
    <p>Motorcycling is obviously pretty unsafe. It takes a special kind of idiot to walk past their comfortable, air-conditioned 4-door sedan to instead straddle their 500-pound metal death torpedo. But there's a lot of control in your hands, and much you can do to mitigate your risks.</p>
    <div class="polaroid">
        <img src="../images/squid.jpg" alt="squiddin" style ="width:100%">
        <div class="caption">Don't do this. Unless you're like, really sick.</div>
    </div>

    <p>The best investment you can make is in your own skills. Take a basic MSF (Motorcycle Safety Foundation) course if you don't know how to ride at all and are looking to get your license. Advanced MSF classes aren't a bad idea either, and give you a greater understanding of what you and your machine are capable of. If you really want to dig deep, there are schools ranging from dirt bike offroading technique to full-on track days with BMW S1000RR's.</p>
    <p>Since money is, in fact, a thing, practicing your emergency braking, swerving, and u-turns in an empty parking lot should be the very bare minimum of your training/skills regimen. I see so many weekend warrior biker types (not that there's anything wrong with that; by definition I'm a weekend warrior too) that have simply no idea how to fully control their bike at low speeds. Not to name any names, but there's one subset of rider in particular who is usually guilty of this. Anyways - the #1 thing you can do to improve your own safety is to make sure you can ride your bike at 100% of its capabilities. You'd be surprised to find what it can really do.</p>
    <p>Gear is a choice that everyone's going to have to make on their own, as protection pretty much always sacrifices comfort and vice versa. You can opt for everything between a full leather race suit and basketball shorts and flip-flops, but personally I would recommend a full-face helmet, padded jacket, gloves, and thick boots as a bare minimum. I've fallen off my skateboard at <i>maybe</i> 7 mph, and have no interest in recreating the experience at 60. However, everyone's situation is different, and your local weather will play the biggest role in what you do - or don't - wear.</p>


    <h1>How to Get Started</h1>
    <p>If you have no experience at all and are looking for your first bike I highly recommend buying something used. You'll probably drop it at some point (guilty as charged), and you also don't really know what you want in a motorcycle yet. Get something versatile, fuel-injected, 350-450 lbs, 75 horsepower maximum, and Japanese preferably, since they're typically reliable, cheap, and easy to work on/find parts for.</p>
    <ul>Good beginner bikes include:
    <li>Kawasaki Ninja 250/300/400/650</li>
    <li>Suzuki SV650</li>
    <li>DRZ400SM</li>
    <li>Honda CRF250L</li>
    <li>Honda CB-anything (except the 1000+ models)</li>
    <li>Yamaha R3 or MT-03</li>
    </ul>
    <p>These are all generally decent starter bikes, enough power to not intimidate a new rider but still enough to keep up on the highway and not leave you bored after 2 weeks. Some of them, like the CRF250L and the DRZ400 are more off-road oriented and are taller as a result. All of these, however, can be had for not a lot of $$, especially used. If you know you want a cruiser, Honda Shadows, Yamaha V-Stars, Suzuki Boulevards, Kawasaki Vulcans, and Harley's Sportster or Iron lines would be good picks.</p>
    <p>Bikes generally need maintenance more frequently than cars, but are also much easier to work on, and as a result it's usually easier to tell when something's gone wrong. If the chain has more rust than metal, or the tires look like they're on their last cords, it's safe to assume that the owner probably hasn't taken great care of the machine. If you're worried about buying a lemon, your best bet is having a mechanic inspect it before purchase or bringing along a knowledgeable friend.</p>
    <p>Personally, I chose a 1993 Honda CB750 as my first. It's a little hefty at 509 pounds, and makes a little under 75 horsepower, but is still agile enough for pretty much all the riding I've done. Rusty's not a great off-roader, still relies on some old technology (rear drum brake, carburetors), and doesn't even have a working tachometer. Frankly, a CB750 probably isn't the best first bike either, as the brakes aren't amazing and it's quite heavy at low speeds. But for $2,350 I can't really complain. I've dropped it a few times and scraped it, but don't really care because it had dings on it already. I know now what I want from my next bike, and should be able to sell this one for around $2,000 if/when I do upgrade.</p>
     <div class="polaroid">
        <img src="../images/bike2.jpg" alt="squiddin" style="width:100%">
        <div class="caption">Trusty ol' Rusty.</div>
    </div>
    <p>All this is to say: get a used bike as your first, and that'll let you know if you really want to keep doing this or not. You don't need all the fancy gizmos and latest electronics to have fun on a bike, especially when you're starting out. Trust me - just being out in the wind is fun enough.
    <p>Basically this shit is dangerous AF but if you try it, you just might find that you love it so much you don't care. And then you'll be hopelessly addicted and start spending all your disposable income on two-wheeled murder missiles. Hooray!
    </p>
    <br>
{% endblock body %}
