{% extends 'base.jinja2' %}

{% block title %}Road Trip - Part 2{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}travels.css">
{% endblock head %}

{% block body %}
    <h1>Day 4 - Santa Fe to Durango</h1>
    <p>I wake up early with my sights set on Taos. Last night I thumbed through a few brochures of the surrounding area, courtesy of the motel waiting lobby, and discovered that the main attraction nearby is a ski town called Taos. It's June, so I'm hopeful for some beautiful scenery, sparse traffic, and curvy mountain roads. I don't have much of a plan here, beyond just take in the sights and grab some lunch before heading to Colorado. This time I opt to take the fastest route, as I'm still a little worn out from yesterday's ride. My endurance is definitely declining, and I notice my shoulders start to ache a lot sooner than they used to. Nonetheless, after about an hour on a scenic, albeit boring road, I pull into Taos.</p>
       
    <div class="polaroid">
        <img src="../images/trip10.jpg" alt="heh69" style ="width:100%">
        <div class="caption">Nice.</div>
    </div>

    <p>I pull in for gas and ask the clerk there if he has any suggestions. He tells me to check out Eagle Nest Lake and that the full loop around Taos (Angel Fire, Red River, Arroyo Hondo, and back to Taos) is a fun and scenic drive. I take his word and, although there's not much to do at Eagle Nest besides go fishing, it's relaxing to kick back and enjoy some breakfast in the cool mountain air. I hop back on my bike and complete the loop, ascending to around 10,000 feet at times. Rusty sputters and coughs and clearly isn't a huge fan of the high altitude, but he pulls through, albeit with a lot of downshifting.</p>
    <p>On the way back to Taos a Prius comes around a blind corner practically entirely in my lane. I manage to swerve, and the driver corrects enough so that I'm still capable of writing this sentence. My heart pounds for a few minutes, but I soon forget about it after I pull back into Taos and smell some delicious seafood being grilled nearby.</p>

     <div class="polaroid">
        <img src="../images/trip11.jpg" alt="eaglenestlake" style ="width:100%">
        <div class="caption">Taos is surrounded by beautiful scenery.</div>
    </div>

    <p>I find myself at Stella's, a small Italian joint plopped in the middle of downtown Taos. They offer me outdoor seating on their patio, which I gladly accept - can't remember the last time I actually sat down in a restaurant at this point. I chat with my waiter, who says he used to ride a Ducati himself. He tells me to enjoy the day, as "only in New Mexico can you get weather like this." I silently doubt this, living in Los Angeles and all, but nonetheless humor him. The food is delicious and filling - I think I had 3 baskets of bread alone. I point my bike East, towards Colorado, and begin the 250-ish miles I still have left to go.</p>
    <p>I almost don't fill up on gas before heading East thru Route 64, which would've been The Biggest L Of All Time, as I find myself on one of the loneliest roads I've ever been on. I travel through Carson National Forest, snap a quick picture of the Rio Grande Gorge, and the entire time see maybe 3 cars. There's construction, as something is being burned down, resulting in me sitting outside in the heat for around 20 minutes. But aside from that, I make good progress towards Colorado.</p>

    <div class="polaroid">
        <img src="../images/trip12.jpg" alt="eaglenestlake" style ="width:100%">
        <div class="caption">Working my way through Carson National Forest.</div>
    </div>

    <p>I pull into Durango a few hours later; the sun feels like it's about to set, but in reality it's only 6pm. I'm only a few miles from my hotel, according to Google, when I smell one of my favorite smells in the entire world: smoked meats. Lo and behold, it's a "Texas-style" barbeque joint. Usually I am apprehensive of these, because frankly most of them suck. This time, however, I am tired, hungry, and worn-out from the road. I could use some barbeque, shitty or not.</p>
    <p>I get some brisket and sausage, as well as a beer for some reason. The beer is mediocre but the meats are surprisingly good, and they have a outdoor patio with a lovely view of the nearby mountains. All in all, not a bad experience: I never pegged Colorado as a barbeque state but honestly I've had much worse. After my quick meal I pull away and check into my next hotel, which is a surprisingly luxurious double queen room despite the bargain bin price. Thanks, Corona.</p>


    <h1>Day 5 - Durango to Moab</h1>
    <p>I sleep in a litle bit - turned my alarm off and got up around 9. Yesterday a guy in the lobby mentioned breakfast would be available, so I haggardly throw on some pants and make my way over. Continental breakfast isn't quite available yet due to the Rona, but they've left little baggies for people to take. I'm usually not a big breakfast guy, on account of being too lazy to cook in the morning, but I somehow find myself appreciating the apple, Nature's Valley bars, stick of string cheese, and orange juice they provided. It's the little things I guess.</p>
    <p>First stop of the day is Mesa Verde National Park. Initially when I was planning the Colorado leg of this trip, I wanted to check out the Rockies. Once I was on the road, however, I realized a few things: I was really tired, kind of cold even with all my layers on, and the Rocky Mountain National Park still had most of their trails and roads closed. So instead I settled for Mesa Verde, and exploring just the Southern portion of Colorado before heading to Utah.</p>
    <p>Luckily, the entrance to Mesa Verde is only about 25 miles from my hotel, so I find myself there pretty early, with no line to speak of whatsoever. There's no fee, so the guy at the entrance just hands me a map and I'm on my way. This park is set up to have pretty much all the attractions at the top of a 20 mile mountain road, with a bunch of vistas on the way up. I stop for pictures at a few of them, pin the throttle through a long tunnel or two, and generally find myself having a good time on a winding route with pretty scenery.</p>
    <p>Unfortunately, I find myself having a bit <i>too</i> much fun, because when I'm just a few miles away from the top, I start to get impatient. The entire ride up I've been blessed to catch virtually 0 traffic, except for this moment, where I'm stuck behind two cars who are somehow going under the 35 mph speed limit. Ever the brash, impatient motorcycle rider, I decide to pass both of them the moment a straightaway appears.</p>
    <p> Of course, the one in front happens to be an undercover cop car. I get pulled over, ticketed for doing 70 in a 35 (whoops), and get sent on my way. I would later discover that tickets issued in Colorado don't count against your driving record for whatever reason, but I was still mildly peeved - partially at the officer, but mostly at myself not accounting for cops in a <i>National Park</i>.</p>
    <p> Despite the mild damper, Mesa Verde ends up being pretty interesting. It features tons of cliff dwellings and ancient pueblo settlements, all on top of a mountain 9,500 feet in the air. Wasn't too crowded, either - I got the impression it was among the less popular National Parks in Colorado. Still, I thought it was pretty cool and definitely worth the visit.</p>
   
    <div class="polaroid">
        <img src="../images/trip13.jpg" alt="mesaverde" style ="width:100%">
        <div class="caption">Mesa Verde National Park.</div>
    </div>

    <p> After descending from the top, I make my way to Canyon of the Ancients National Monument. I make a quick pit stop and grab some McDonalds, fill up my water bottle, and realize that Canyon of the Ancients is very spread out, and all of its attractions are in completely different directions. I pick the one with the most reviews that's vaguely on the way to Moab, punch it in to Maps, and take off down a long one-lane road surrounded by farmland and not much else.</p>
    <p>After about 40 minutes of slow going the road turns into rough gravel. Google tells me there's only 2 miles to go, so I grit my teeth, apologize profusely to Rusty, and slowly press on at around 15-20 mph. I've offroaded Rusty before with surprisingly decent results, but the last adventure had me replacing the fork seals after I completely destroyed them on a big bump. A 509 pound street bike is not a good offroad vehicle, no matter what tires you throw on it. But to his credit, Rusty handles the last bit of gravel, and I safely arrive to wander around the Lowry Pueblo.</p>

    <div class="polaroid">
        <img src="../images/trip14.jpg" alt="CotA" style ="width:100%">
        <div class="caption">It's like Mesa Verde, just without the speeding tickets.</div>
    </div>

    <p>Back through the treacherous Gravel Path of Doom, I press on and shortly find myself crossing the border into Utah. Didn't get to spend much time in Colorado, which is a bit of a shame, but now I've got 5 whole National Parks to tackle in Utah. I pull up to Moab not much later - the sun's still high in the sky at 5:30 and the heat is ever persistent. I pull in to my hotel and ask about the nearby Arches National Park. A passerby lets me know that, due to COVID, entry to the park is free but stops at 6 PM. I scramble to my room, throw down my backpack and everything I don't need, and take off to Arches, eager to check one of my 5 boxes for Utah.</p>
    <p>Finally able to ride somewhere without being encumbered by my luggage, I arrive at Arches and get lost in one of the coolest spots I've ever visited. The sun is kind of sort of setting over the mountains, so I get a lovely warm backdrop to all the photos I take. As the name implies, there are plenty of huge arches to check out, but there's lots of small hikes and other rock formations to see as well. My personal favorite was the Balancing Rock, although I admit I didn't do the longer hikes to see some of the more well-known Arches.</p>
    
    <div class="polaroid">
        <img src="../images/trip15.jpg" alt="arches" style ="width:100%">
        <div class="caption">Window Arch...I think.</div>
    </div>

    <p>As I'm heading back, I start to notice a strange rattling sound. It sounds like metal grinding on metal, only happens when I take left turns, and soon enough I realize that it's coming from me. I pull over at a gas station and realize that my chain, which has been showing its wear, is so loose that it's touching my center stand. Shit. I thought I had another 1,000 miles to go before this happened. I've been cleaning and lubing the chain every night of this trip, but it's definitely on borrowed time.</p>
    <p>There's not much I can do here - I've still got around 900 miles to go, any shop that would help me is closed by now, and I don't have a spare chain and sprocket set lying around anyhow. I break out my small toolkit and manage to tighten the chain a little bit - it doesn't make much difference, maybe 5 cm of slack at most. But I ride back to my hotel, grab some Thai food, and try not to worry about it too much.</p>

    <h1>Day 6: Moab to Torrey</h1>
    <p>I've started to roll out of bed more and more exhausted each day. Day 6 is no different, as I half-heartedly check out and inspect my chain again. It's drooping dangerously close to the center stand again, so I tighten it as much as I can and head off towards Canyonlands National Park. This park actually has 2 entrances, but I skipped by the Needles district on my way to Moab as it was too much of a detour. Today we'll be seeing the Island In The Sky half of the park. </p>
    <p>Canyonlands doesn't take fees either, but after about 5 minutes of driving I'm treated to one of the best views I've seen this whole trip. A vast canyon descends in front of me through a forest of offroad trails, and I can see and hear both Jeeps and dirt bikes alike, toodling off in the distance. I stop at the visitor center, intending to get a map, but end up deciding to just aimlessly wander until I've seen what I want to see. It's a hot day and it's only getting hotter - no more early starts for me, with how tired I am now, so I will have to deal with the heat.</p>

    <div class="polaroid">
        <img src="../images/trip16.jpg" alt="canyonlands" style ="width:100%">
        <div class="caption">Probably my favorite National Park in Utah; Canyonlands has jaw-dropping views.</div>
    </div>

    <p>I noodle around a bit, taking fast sweeping corners with glee. I remind myself to not get too carried away, thinking about my Colorado incident, but nevertheless the park is generally clear and flat enough that I can see far ahead. I hop off for a few pictures, even go on a short round-trip hike, but eventually the heat is unbearable and I run out of water. I hop back on the bike, pass by the visitor center on my way out, and decide to stop to grab some souvenirs and a refill of water. One is necessary, the other just feels obligatory.</p>
    <p>As I'm leaving I decide to check out Dead Horse Point, a short 5-mile detour near Canyonlands. I've read a little bit about it online and there's supposedly a cool lookout. What's not cool is the fact that it's a State Park, takes a $10 fee, and does not take my newly acquired America The Beautiful Pass. I grumble and complain but fork over the $10, pass a few interesting campsites and tempting dirt trails, remind myself that I'm on a 500 pound pig, and beeline it towards the lookout point. I'm rewarded with a pretty sweet view, although it does occur to me that I've just paid $10 to take a few pictures, much like the Instagram influencers I shit on. Such is life.</p>

    <div class="polaroid">
        <img src="../images/trip17.jpg" alt="deadhorsepoint" style ="width:100%">
        <div class="caption">Worth it? Probably not, but oh well.</div>
    </div>

    <p>From there I head to Capitol Reef, which is a pretty healthy distance away. I say goodbye to the fun, twisty roads of the Canyonlands and Dead Horse, and instead find myself battling the wind and heat as I head West on various highways. I stop for lunch in a town called Green River, which I could see from one of the vistas in Canyonlands. Ironically, the river that runs through the town is anything but green, but the restaurant I stop at serves me an enormous burger with a side of mashed potatoes. I try to ignore the comically nasty water as I chow down. </p>
    <p>Finally, after what feels like an eternity of getting the shit beaten out of me by wind gusts, I spot a sign that welcomes me into Capitol Reef. There doesn't seem to be any entrance whatsoever, so I drive around until I find some landmarks that I remember looking up. I embark on a hike that's not supposed to be too tough, about 1.5 miles round trip, but soon realize that I don't have nearly enough water, as I'm being absolutely cooked by the sun.</p>

    <div class="polaroid">
        <img src="../images/trip18.jpg" alt="capitolreef" style ="width:100%">
        <div class="caption">Capitol Reef isn't quite as unique as Canyonlands or Arches, but is still worth a visit.</div>
    </div>

    <p>Forced to admit defeat, I turn back and instead find a nice scenic drive to embark on. The speed limit is slow, 20 mph, but the scenery is so gorgeous that I'm stopping to take pictures frequently anyways. Eventually the road turns into 2 offroad trails, so I turn back and head towards my destination for the night, Torrey, albeit with a pit stop for some fresh fruit from the aptly named city of Fruita.</p>
    <p>I crash (metaphorically, that is) in Torrey, but not before picking up some grub and 2 tallboys for the night. I'm supposed to Zoom with some friends and play some drinking games, which is when I remember that Utah sucks and sells you shitty watered-down beer. What a travesty. The night ends on a high note, as it's nice to hang out with people I haven't seen in literal months, even if we are time zones apart. But eventually I have to hang up, pound a bunch of water, eat some snacks, and hope that I'm not hungover in the morning.</p>

    <div class="polaroid">
        <img src="../images/trip19.jpg" alt="torrey" style ="width:100%">
        <div class="caption">Sunset in the sleepy little town of Torrey.</div>
    </div>

    <h1>Day 7: Torrey to St. George</h1>
    <p>I stumble out of my room and check out. For some reason, despite the hotel actually serving breakfast, I decide to pass and just get my ass on the road. Curse you, previous Edmund. I check my chain one last time before setting off, give it another fairly useless tighten, and pray that it holds up for another 500 or so miles. Although I'm up pretty late, the road I'm on is fairly desolate, winding through the town of Bolder and Grand Staircase-Escalante. It's surprisingly cold, a welcome reprieve from getting roasted in Moab. </p>

    <div class="polaroid">
        <img src="../images/trip20.jpg" alt="rte12" style ="width:100%">
        <div class="caption">On the road to Bryce Canyon, somewhere off Route 12.</div>
    </div>

    <p>We're headed to Bryce Canyon and Zion today, the last 2 major stops of the trip. It's worth noting that it's Saturday - I've been to Zion before and already know that it's the most popular park in Utah. Bryce Canyon doesn't fare much better in that regard, or so I've heard, so I'm mentally prepared to see crowds of people today. Most people in Utah haven't seemed to care much at all about coronavirus; much like Arizona, I've encountered very few people wearing masks.</p>
    <p>My worst fears are confirmed when, after scarfing down some Subway (why?? could've had a perfectly nice breakfast at the hotel...), I pull up to Bryce Canyon and am greeted with an enormous line of cars. While it's technically legal to lane split in Utah now, I figure this would be less akin to lane splitting and more similar to just cutting in line, so I decide to wait and not piss off any locals. After what feels like half an hour, I show the ranger my pass, he hands me my maps, and I add on to the traffic jam that is quickly forming on the main road.</p>
    <p>Bryce Canyon is a one-lane road pretty much the entire way. With a low speed limit, large crowds, and the events of Colorado still on my mind I decide to take it easy and pull in at pretty much every vista lookout I see signs for. Unsurprisingly, the parking lots closest to the entrance are entirely full, swarming with families and children. I pass on a few of them, but grab photos of the famous Amphitheatre before driving all the way to the end of the park. It's much less crowded on this side, but unfortunately most of the hikes seem to be located in the first half of the park. I've seen nothing but completely packed trails pretty much everywhere I've looked, so I decide to just be lazy and snap pictures at the top.</p>

    <div class="polaroid">
        <img src="../images/trip21.jpg" alt="bryce" style ="width:100%">
        <div class="caption">Bryce Canyon's famous Amphitheatre.</div>
    </div>

    <p>I had a pretty slow start today and sitting in the Bryce Canyon traffic has not helped. It doesn't feel like it, but by the time I leave Bryce Canyon and gas up again, it's already 4:30 PM. Zion's still about 2 hours or so away, but I should have enough time since the sun sets around 9 anyways. I take off, hoping to approach Zion from the East.</p>
    <p>It's slow going and my resolve begins to waver as I encounter endless wind gusts. I've come so far in this trip but I can't deny that my body is simply starting to break down. I have to re-adjust my sitting position every few minutes, and my shoulders feels like they might have somehow dislocated themselves. Zion is my final major stop, but it's also the only National Park I've actually visited before in Utah. On the highway, I ride behind a huge semi-truck and stay there for a while, letting him act as my windshield. I decide that at the next gas stop I will have to either press on to Zion or just go straight to my hotel in St. George.</p>
    <p>Google makes the decision for me by informing me that both the Eastern entrance and most of the attractions in Zion are closed. Given my fatigue, the crowds at Bryce Canyon, and the fact that I would have to go thru St. George anyways, I quickly decide to just skip on Zion this time. So, instead of continuing my route, I cut West across the mountains via Route 14, going through passes as high as 9900 feet. I stop for a quick break/snack and photos at Navajo Lake, a landmark signaling I'm about halfway through the route.</p>
    
    <div class="polaroid">
        <img src="../images/trip22.jpg" alt="navajolake" style ="width:100%">
        <div class="caption">Views like this make me feel slightly better about quitting on Zion.</div>
    </div>

    <p>I'm relieved to call it quits early because there's still about 100 miles to go to St. George. I don't consider 100 miles a particularly long drive, but at this point every minute I spend on the bike is almost pure agony. My ass is sore, my eyes are red, my shoulders are being torn out of their sockets, and frankly I'm tired of riding my motorcycle. After what seems like a thousand years, I check into my comically large hotel room in St. George and flop onto my bed. When I'm done dozing, I order some Mexican food (which, hilariously enough, also did not come with utensils), pound a beer, and call it a night. I'm slightly disappointed in myself for quitting on the last National Park but honestly I'm so tired that I don't really care.</p>

    <h1>Day 8: St. George to Los Angeles</h1>
    <p>Not really much to say here. I woke up kinda early, in an attempt to beat the desert heat, and took off to Los Angeles. 400 miles to go, packed up, said a lot of prayers to Gods I don't really believe in, hoped that my chain would hold up, and took off. Luckily, it was a good chain who did not explode, and I made it back safely to my apartment in Los Angeles around 4:00 PM. After showering and unpacking, I promptly parked my bike behind my car. Although it was a ton of fun, I didn't even want to look at my motorcycle for the next month.</p>
    <p>Would I do it again? Yeah, sure. It was a great time and I learned a lot about how I like to travel, and what I like to do. Next time I'd pack less (or just get more luggage, no more backpacks...) and spend more time in each place, especially Colorado and New Mexico, as I didn't really get to explore much in those states. But for now I'll just stay at home, as my travel bug has been itched.</p>
    <br>
{% endblock body %}
