{% extends 'base.jinja2' %}

{% block title %}Road Trip - Day 1{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}travels.css">
{% endblock head %}

{% block body %}
    <h1>Road Trip - Sightseeing in America Before It All Burns Down</h1>
    <p>Back in March, I quit my job (long story) with plans to go on a long, solo motorcycle tour, where I would go wherever I want and see as many National Parks as possible. A lack of foresight resulted in me postponing my trip due to the COVID pandemic - a blessing in disguise, since most of the states I wanted to visit were still extremely cold at the time. </p>
    <p> Fast forward to June, where the entire US has decided that they were bored of being in lockdown. I decided to take advantage of the situation, as National Parks were beginning to re-open and people were still wary of traveling. So I opened up my wallet for those sweet, sweet discount hotels, and risked my personal health to see some of the greatest natural sights this country has to offer. What could possibly go wrong?</p>

    </p>
    <div class="polaroid">
        <img src="../images/tripcover.jpg" alt="cover" style="width:100%">
        <div class="caption">Itinerary? Find roads with this sign. </div>
    </div>
        <p>The general plan? Head Northeast from Los Angeles to the mountains of Arizona, checking out Grand Canyon and Petrified Forest National Parks. From there, I'd continue east to Albuquerque, so my inner Breaking Bad fan could geek out for a few hours. After that I'd head North to Colorado. Initially I was planning to see the Rocky Mountains, but with snow still on the forecast in June I eventually opted to just see the Southern half of the state and check out Mesa Verde National Park. Afterwards, I would work my way through Utah's 5 National Parks, starting on the Eastern end near Moab and working my way Southwest back to LA. </p>
        <p>Worth noting that all I had with me was a small tail bag, a magnetic tank bag that holds not an awful lot, and a very, very, <i>very</i> heavy backpack that would absolutely wreck my spine in the days to come. I didn't have much of a timeline, or even a real itinerary; I was gonna play it by ear and decide where I wanted to end up, and what I wanted to do, during the day.</p>

    <h1>Day 1 - Los Angeles to Prescott</h1>
    <p>So it begins.</p>
    <p>I set out from my apartment at around 10 AM, headed East on I-10. I'm a bit nervous, a little worried about if my bike will actually hold up for over a week of hard riding, and definitely wondering if I am, in fact, a crazy person. My bike, Rusty, is generally in good condition but will need its chain replaced in roughly 3,000 miles, which should give me just enough time to complete the trip and get it done afterwards.</p>
    <p>I strap everything to the bike, realize that my backpack is <i>already</i> heavy as fuck and will probably become an issue later, shrug my shoulders, and take off. Hope I didn't leave any lights on.</p>
   
    <p>It's a hot day in LA and it only gets hotter as I crawl through the desert. This drive is pretty damn boring, which I sort of knew beforehand, as it's tough to get out of California without some serious freeway miles. But I press on, and before I know it I see the sign at the border welcoming me to Arizona. So far, so good.</p>
    <p>I stop a few times for gas since my tank is approximately the size of three peanuts. As I leave I-10 to approach Prescott, the weather's only getting hotter. Each time I stop I re-sunscreen myself, but it doesn't seem to be doing much as the back of my neck and wrists are getting darker and darker. </p>
    <div class="polaroid">
        <img src="../images/trip01.jpg" alt="route89" style ="width:100%">
        <div class="caption">A welcome sight after 300+ miles of freeway slogging.</div>
    </div>
    <p>Sunset is approaching, but eventually I get on Route 89 and am treated to some actual, fun roads. I've spent the past 6 hours cursing myself for being too stubborn/masochistic to take my car, but am finally being rewarded with some long, fast sweepers ascending up a gorgeous mountain road. I stopped to take a few pictures, but for the most part just booked it to my hotel for the night.</p>
    <p>After checking in, I order some Ubereats out of sheer laziness (and because I still had 1 month of free Eats Pass, sue me), only to find 1 hour later that my driver had apparently either fallen asleep or just decided to eat it for himself. I cancel that shit, walk to a nearby Dennys-clone, and place a to-go order for a breakfast skillet.</p>
    <p> The nice lady hands me my food after about 12 years, and as I open up my hard-won loot, it occurs to me that nice lady forgot to give me utensils. Of course, I'm staying at a shitty motel, and they don't have any utensils either, so I get to eat my sausage, egg, hash brown, english muffins, and gravy with my bare hands. Unsurprisingly, it is very difficult to eat these foods without utensils.</p>

    <h1>Day 2: Prescott to Winslow</h1>
    <p>Woke up early but didn’t beat the Sun; was out the door around 7:30 AM. I opt for Route 89A to Sedona rather than the slightly faster but more boring Highway 17, and am rewarded with open roads and glorious mountain curves. I encounter maybe 5 whole other vehicles on the way down. The traffic picks up later, as there’s construction around Flagstaff, but the morning ride was well worth waking up early for. I stop in Coconino National Forest at various points for some pictures, then head to the Grand Canyon.</p>
    <div class="polaroid">
        <img src="../images/trip02.jpg" alt="canyonz" style ="width:100%">
        <div class="caption">Early bird gets the canyon run.</div>
    </div>
    <p>It’s windy and choppy as shit today, a fact that is made very obvious as I head west on I-40. I make my 2nd gas stop of the day and note that, despite being in Arizona for around 24 hours now, I have yet to see a single soul wear a mask. Huh.</p>
    <p>After what feels like many hours, I roll up to the Southern Entrance at Grand Canyon, only to find that they are not taking entry fees (hooray) but have closed the Eastern half of the park (boo). It’s surprisingly cold, and I begin to worry about the weather in the colder states (namely Colorado) if I’m already cold in Arizona. Nonetheless, I explore what I can but eventually turn back to head to my hotel, still a few hours away.</p>
    <div class="polaroid">
        <img src="../images/trip05.jpg" alt="route89" style ="width:100%">
        <div class="caption">The Grand Canyon never ceases to, uh, be grand.</div>
    </div>
    <p>My route has been pretty poorly planned today and there was a lot of backtracking. I had to head east and cover the same ground I did before to get to my room in Winslow, which my friend later informs me was referenced by The Eagles in their 1972 song “Take It Easy.” That seems to be the only notable part of this city, aside from the Taco Bell across the street that satiates my hunger for only $10. God bless Taco Bell.</p>
    <h1>Day 3: Winslow to Santa Fe</h1>
    <p>Still chilly in the morning, but I’m heading East with my sights on Petrified Forest National Park. I'm not sure exactly where it is but end up taking the first exit with its name, so I end up going from South to North through the park.</p>
    <p>The lady at the store gives me some free rock samples and tells me that they are taking fees, and that I should take a quick stroll through the Crystal Forest. I’m not opposed to hiking, but I have to lug around my backpack and gear with me all the time since I don’t have anywhere to store it. Luckily for me, the hike is short and flat, so I enjoy a nice breakfast of mixed nuts and berries while I sit on a bajilion-year-old log in the middle of nowhere.</p>
    <div class="polaroid">
        <img src="../images/trip07.jpg" alt="petforest" style ="width:100%">
        <div class="caption">Petrified logs make for great seats.</div>
    </div>
    <p>Anyways, I hop back on 40 East, headed towards Albuquerque. It’s not quite as windy as yesterday but still not great, as I get tossed about by gusts and get passed by 18-wheelers. I stop for gas about 100 miles out of Albuquerque and find myself in need of a nice, long lay-down. I bask in the sun for a bit, before I head inside and buy some lunch, along with a cheeky shotglass. Gotta get some souvenirs, right?</p>
    <p>My stamina has definitely decreased already, and my backpack seems to get heavier each time I put it on. Nonetheless, I soldier on towards ABQ, and grab myself some dinner at Los Pollos Hermanos, aka Twisters in real life. The food is surprisingly good; it’s fast Mexican food that is certainly a step above most chains. I get a green chile chicken burrito, since apparently New Mexico is known for their green chiles, and it doesn’t disappoint - it’s hot but full of flavor.</p>
    <p> Inside the restaurant, there’s an entire corner dedicated to Breaking Bad, filled with photos with the creator, Vince Gilligan, and the rest of the cast. It’s trippy being on set for one of my favorite shows of all time, although unfortunately the table where Walt and Jesse once sat was closed off for cleaning.</p>
    <div class="polaroid">
        <img src="../images/trip09.jpg" alt="route89" style ="width:100%">
        <div class="caption">The Chicken Brothers.</div>
    </div>
    <p>After geeking out for about an hour, I head off to...continue being a nerd, by seeking out the Law Offices of Saul Goodman. This stop is a lot less remarkable, as it seems to be in the middle of all of Albuquerque’s traffic. I sit through what feels like an endless amount of stoplights and straight-line pulls, but eventually discover the once famous block. I look around and realize that Saul Goodman’s office is currently a sports bar, decorated in a bright and brash red. Internally, I wonder if Saul would approve of such a garish business model - maybe it’s so ugly it’s perfectly conspicuous?</p>
    <p>Anyways, my hotel’s in Santa Fe tonight, so I still have about an hour to go. It’s around 7:30, but the sun doesn’t set until about 9, thanks to the time zone difference. About halfway through this journey, however,  I nearly pass out and fall asleep. </p>
    <p>I didn’t know you could fall asleep while riding a motorcycle; you’d think the immediacy of your surroundings and the thrill of it all would be enough. But I did the head nod, the trying-not-to-fall-asleep-in-class-but-still-really-tired head nod, twice, before I pulled over. I made myself chug some water, poured the rest on my face, and slapped myself upside the head a few times. Good to go.</p>
    <p>I guess it worked, because 30 minutes later I pulled up to my teeny tiny motel. Santa Fe isn’t the biggest town and was honestly pretty unremarkable. The main attractions listed were all art museums, which were closed, and Taos, which I was going to tomorrow anyways. So I tucked myself in and slept like a log.</p>
    <br>
{% endblock body %}
