{% extends 'base.jinja2' %}

{% block title %}Edmund Lu{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="index.css">
{% endblock head %}

{% block nav %}{% endblock nav %}

{% block body %}
    <img src="images/pch north.jpg" class="hero">
    <h1>
    Edmund's Sweet-Ass Homepage
    </h1>
    <div class="line-dec"></div>
    <p>Welcome to my homepage. This is where I post all my reviews, writings, general thoughts, and maybe some cool photos.</p>
        
    <h2>Features</h2>
    <div class="line-dec"></div>
    <p>Click to view!</p><br>

    <section class="features">
        <article style="background-image: url(images/starcraft.jpg)">
            <a href="tv_music_reviews.html">Video Game Reviews</a>
        </article>
        <article style="background-image: url(images/always%20sunny.png)">
            <a href="tv_music_reviews.html">Movie/TV Reviews</a>
        </article>
        <article style="background-image: url(images/cookiemonster.gif)">
            <a href="food.html">Recipes/Restaurants</a>
        </article>
        <article style="background-image: url(images/travel.gif)">
            <a href="travels.html">Travel Blog/Incoherent Ramblings (WIP)</a>
        </article>
    </section>
    <br><br>
    {#
    <h2>Gallery</h2>
    <div class="line-dec"></div>
    <h3>A collection of photos I think are pretty sweet.</h3>

    <section class="gallery">
    <div class="container">
        <img src="images/brick.jpg" alt="Hikes" class="image">
        <div class="middle">
            <div class="text"> Hiking </div>
        </div>
    </div>
    <div class="container">
        <img src="images/pch1.jpg" alt="Travelling" class="image">
        <div class="middle">
            <div class="text"> Travelling </div>
        </div>
    </div>
    <div class="container">
        <img src="images/bike2.jpg" alt="Rusty the Motorcycle" class ="image">
        <div class="middle">
            <div class="text" > Rusty the Motorcycle </div>
        </div>
    </div>
    <div class="container">
         <img src="images/becksprime01.jpg" alt="Hiking" class="image">
         <div class="middle">
             <div class="text"> Food </div>
         </div>
        </div>
    </div>
    </div>
    </section>
    #}
{% endblock body%}
