{% extends 'base.jinja2' %}

{% block title %}TV, Movies, and Music Reviews{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}tv_music_reviews.css">
{% endblock head %}

{% block body %}
    <div class="header">

    <h2 id="tvhead">TV/Movies and Music Reviews</h2>
    <h2 id="subhead">DISCLAIMER: I am not a professional. Take everything you read with a grain of salt.
    </h2>
    </div>

    <div class= "flex-container">
        <div>
            <h1>TV / Movies</h1>
            <div class="line-dec"></div>
            <ul>
                <li><a href="tv_music_reviews/avatartlab.html">Avatar: The Last Airbender</li></a>
                <li><a href="tv_music_reviews/tlok.html">The Legend of Korra</li></a>
                <li><a href="tv_music_reviews/ratatouille.html">Ratatouille</li></a>
                <li><a href="tv_music_reviews/godless.html">Godless</li></a>
            </ul>
        </div>
        <div>
            <h1>Music</h1>
            <div class="line-dec"></div>
            <ul>
                <li><a href="tv_music_reviews/countrysucks.html">Country Sucks, But Also Doesn't</a></li>
            </ul>
        </div>
    </div>
    {% endblock body %}
