{% extends 'base.jinja2' %}

{% block title %}Video Game Reviews{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}tv_music_reviews.css">
{% endblock head %}

{% block body %}
    <div class="header">

    <h2 id="tvhead">TV/Movies and Music Reviews</h2>
    <h2 id="subhead">DISCLAIMER: I am not a professional and honestly am actually kind of an idiot.
        Take everything you read with a grain of salt.
    </h2>
    </div>

    <div class= "flex-container">
        <div>
            <h1>TV / Movies</h1>
            <div class="line-dec"></div>
            <ul>
                <li><a href="tv_music_reviews/avatartlab.html">Avatar: The Last Airbender</li></a>
            </ul>
        </div>
        <div>
            <h1>Music</h1>
            <div class="line-dec"></div>
            <ul>
                <li>COMING SOON</li>
            </ul>
        </div>
    </div>
    <h3>Click the sidebar to check out more content or return home.</h3>
{% endblock body %}
