{% extends 'base.jinja2' %}

{% block title %}Avatar: The Last Airbender{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}tv_music_reviews.css">
{% endblock head %}

{% block body %}
    <img src="../images/atlabcover.jpg" class="hero" alt="cover">
    <div class= "infobox">
        <div class="info">
            <div class="head">GENRE:</div>
            <div class="subtitle">Animated Fantasy Cartoon Type Thing</div>
        </div>
        <div class="info">
            <div class="head">AVAILABLE ON:</div>
            <div class="subtitle">Netflix</div>
        </div>
        <div class="info">
            <div class="head">PRODUCERS:</div>
            <div class="subtitle">Nickelodeon</div>
        </div>
    </div>
    <div class= "infobox">
        <div class="info">
            <div class="head">ORIGINAL AIR DATE:</div>
            <div class="subtitle">February 21, 2005 - July 19, 2008</div>
        </div>
        <div class="info">
            <div class="head">STRENGTHS:</div>
            <div class="subtitle">Fantastic writing & animation, Toph and Iroh are the best</div>
        </div>
        <div class="info">
            <div class="head">WEAKNESSES:</div>
            <div class="subtitle">Can be cheesy/predictable, strange pacing</div>
        </div>
    </div>

    <p>When I was a kid, I remember catching a couple episodes of Avatar: The Last Airbender on TV every now and then. I never really followed the show all the way through, but I remembered the series for its well animated fights and tiny bald kid who glows when he gets angry. When Avatar was released on Netflix earlier this year, I figured I'd actually sit down and watch it start to finish, as God intended. Because if there's anything being on The Internet has taught me, it's that everyone and their mom loves this show.
    </p>
    <p>So, is Avatar: The Last Airbender actually any good, or are we all just being blinded by rose-tinted nostalgia goggles, longing for a time we'll never be able to return to? </p>

    <h1>Nah It's Actually Pretty Fuckin Gud</h1>
    <br><b>(some spoilers ahead by the way)</b>
    <p>Like many shows, Avatar spends the first couple of episodes trying to find its footing. The first book (season) is definitely a bit slow, and overall is probably the weakest of the three. The animation feels just a little bit worse than the later seasons, and some episodes feel a little pointless and of a definite lower quality. Book 1 still plays a vital role, however, in worldbuilding, and introducing us to our main characters, Aang, Sokka, and Katara. </p>
    <div class="uc4polaroidsmall">
        <img src="../images/atlabgang.jpg" alt="thegang">
        <div class="caption">Our 3 heroes. And Momo.</div>
    </div>
    <p>We spend a lot of time getting to know these three, and their interactions, personal growth, and characteristics are part of what makes Avatar so timeless. The writing is really what carries the show: none of the characters are perfect, and they make mistakes and fuck up frequently throughout their journey. But even when they screw up, it's for believable reasons: they act as their characters would, learn from their mistakes, and grow as people throughout the 3 books.</p>
    <p> Zuko in particular is a great example of this. We're introduced to him early on as The Epitome of Teenage Angst, but he changes, begins to think for himself, and undergoes one of the best redemption arcs I've ever seen.</p>

    <p>Once you hit episode 12 of Book 1, Avatar hits its stride and never looks back. After an absolutely awesome finale, Book 2 raises the stakes, while also introducing the best character in the entire show: Toph, a blind earthbender who doesn't take shit from anyone and delivers some of the best zingers of the entire cast. It also does a great job of fleshing out Uncle Iroh, the coolest dude to ever live, while occasionally delivering some emotional gut punches along the way. </p>

    <p>Book 3 is peak Avatar and easily the best of the three. We finally get a glimpse at the inner workings and politics of the Fire Nation's Royal Family, after 40 episodes of establishing them as The Big Bads. Zuko's change of heart and subsequent interactions with the rest of the Avatar gang is both hilarious and jaw-dropping, between Katara showcasing her full you-won't-like-me-when-I'm-avenging-my-dead-mom powers, Aang discovering the origins of fire, and this absolute gem below.
    </p>
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/2vr9xPqGD8o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    <p>The ending to the series is a satisfying conclusion with 2 appropriately epic fights. It comes off as a bit cheesy, but I suppose I can't blame them - it would be pretty disappointing if we spent 60 episodes watching Aang power up just to get his shit pushed in.</p>
    <h1>So, What Did We Learn?</h1>
    <p>I was around halfway through Book 2 when I realized that, to my surprise, I was actually really into this 15 year old animated cartoon for children. I found myself appreciating that, despite their target audience, they weren't afraid to discuss tough topics like genocide, war, sexism, loss, grief, and morality, all while balancing it with well-timed humor, cool fight scenes, and lighthearted gags. It reminds me of BoJack Horseman in a way, and some episodes certainly sent me on similar emotional rollercoasters. The cinematography and soundtrack also deserve a mention, <i>especially</i> the last fight between Zuko and his sister.</p>
    <div class="uc4polaroidsmall">
        <img src="../images/atlabfight.gif" alt="agnikai" style ="width:100%">
        <div class="caption">The best fight in the whole series.</div>
    </div>
    <p>The mix and music choice for this scene are incredible. This fight has an insane amount of buildup, so we go in expecting this heart-pounding, fast-paced showdown. Instead, we get hit with this slow, somber orchestral drone through a low-pass filter, where the fire sounds dulled and muffled. The result is that the fight feels tragic, rather than epic and triumphant -- because it is. It's a fight between two siblings, one whose seen the error of his ways, and another who, through circumstances beyond her control, never had the chance to. Also it looks cool as shit.</p>
    <p>Anyways -- I do have a few gripes with Avatar. Since it's a kids show at the end of the day, you can essentially guarantee that <b>A.</b> the good guys will eventually win and <b>B.</b> some of the jokes were definitely aimed at 6 year olds, and fall flat on their face. One thing that bothered me in particular is an argument that Aang and Katara get into near the end of the show; the fight itself feels forced, and gets resolved later by them...doing nothing. They just make up because the day has been won and now everyone's happy. They don't discuss it or even talk about it at all, which is rather uncharacteristic given the rest of the show.</p>
    <p>Some of the filler episodes also feel aggressively, well, filler-y, and unimportant. Nothing much happens in them, although it speaks to the quality of the show that they're, for the most part, still enjoyable to watch. Sometimes the pacing can also feel a bit off; parts of Book 3 feel like they were very rushed. But overall, when I look back on the week it took me to get through Avatar, it's easy to put aside these issues in the face of everything the show does well.</p>
    <h1>Verdict</h1>
    <p>If you've never seen Avatar before I'd encourage you to at least watch all the way through the first Book. You'll probably know by then if this show is for you.<br>
    I give Avatar: The Last Airbender 16 flameos out of 9 hotmans.</p>
    </body>
    </html>

{% endblock body %}
