{% extends 'base.jinja2' %}

{% block title %}Country Sucks, But Also Doesn't{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}tv_music_reviews.css">
{% endblock head %}

{% block body %}
    <h1>I have always prided myself on my diverse taste in music.</h1>
    <p>Although heavy metal was my first love, I’ve come a long way since I was a 12-year-old headbanging to Metallica. Music has many genres and styles, and I’ve learned to appreciate something about pretty much all of them. Some music will evoke different moods - jazz is nice for quiet, rainy mornings sipping tea, but less ideal for workouts or runs. Metal is obviously the exact opposite. Hip hop makes me feel like I’m back in the ‘90s, riding around in my nonexistent Cadillac convertible and smoking cigars. Classic rock makes me want to yell at small children to get off my lawn. You get the idea. </p>

    <p>But there is one godforsaken genre that has almost zero redeeming qualities. It is repetitive, uncreative, and bland. The instruments are dull, taking a back seat to the vocals, which are usually even worse. The lyrics…god. I would rather bathe in razor blades than listen to hillbillies moan about their broken tractor or yodel about how much they want to bang their cousin. </p>
    <p>I’m talking about Country, of course. The genre of my home state, country may at one point have conjured images of gunslingers, outlaws, and fast horses, but today seems to be marketed more towards sorority girls who drive Jeep Wranglers exclusively to and from Starbucks. “Country” folk love to sing about farmwork and manual labor, yet all of them sound like they’re recording from their mansion in Malibu. Every time my friends tell me to “just give it a chance” or throw on some country in their car, I really, really do try to listen.</p>
    <div class="uc4polaroidsmall">
        <img src="../images/countrysucks.jpg" alt="countrysucks" style ="width:100%">
        <div class="caption">Ugh.</div>
    </div>

    <p>But all of the songs are so same-y, contain no interesting, you know, MUSIC, and sport some of the shittiest singing you can listen to on the radio. I mean metal has awful singing too, probably the worst on average, but at least makes up for it with sick instrumentation and cool guitar solos. Country has...cowboy chords?</p>
    <p>BUT. There is a silver lining here. Sort of.</p>
    <p>It’s called BLUEGRASS, and it’s basically Country’s cousin, except he’s older, more mature, doesn’t smell, and owns like 4 yachts because he’s awesome. Bluegrass is typically much faster and more upbeat, with a variety of instruments being featured, from flatpicked acoustic guitars to banjos to fiddles to harmonicas. Typically, one instrument will play melody and improvise over it; everybody else plays rhythm, and the cycle repeats with the instruments switching out. In this way, Bluegrass is a bit like jazz or blues music, mashed together with country.</p>
    <p>As a result, the instruments are actually fun to listen to. Some of the guitar solos can sound almost like metal, with how fast and technical the phrasing is. The singing is also generally a vast improvement; while I’m not a fan of some hillbilly-sounding singers, I think overall most bluegrass singers are much more pleasant to listen to than country.</p>
    <p>I've spent the past couple of weeks listening to more and more bluegrass and I've gotta say, I've been pleasantly surprised. There's plenty of good music out there, and I think bluegrass manages to capture that old-timey western feel that Country goes for, while still having fast-paced and cool instruments to listen to. The fact that the singing ranges from tolerable to actually really good is just the icing on the cake. Check out some of the songs I've been listening to recently:</p>
    <iframe src="https://open.spotify.com/embed/track/3cGblMVSNAG6UgIsro3kQ0" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed/track/56xBiRC5zcb1Hvhnek8m1u" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed/track/1LZ2fRvjNdqqbR93Lilvh1" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed/track/50hBqpXj7bwiE4ufe7djRI" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <p>If you're like me and can't stand it when your friend's got the aux and he puts on modern country, give Bluegrass a try. I think it preserves the spirit of what Country originally was, while blending it with other genres like rock, jazz, and blues. But most importantly, it doesn't make me want to gouge my eardrums out with a pickaxe.</p>
    <br>
    </body>
    </html>

{% endblock body %}
