{% extends 'base.jinja2' %}

{% block title %}Ratatouille{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}tv_music_reviews.css">
{% endblock head %}

{% block body %}
    <img src="../images/ratcover.jpg" class="hero" alt="cover">
    <div class= "infobox">
        <div class="info">
            <div class="head">GENRE:</div>
            <div class="subtitle">Animated Comedy</div>
        </div>
        <div class="info">
            <div class="head">AVAILABLE ON:</div>
            <div class="subtitle">Disney+</div>
        </div>
        <div class="info">
            <div class="head">PRODUCERS:</div>
            <div class="subtitle">Pixar</div>
        </div>
    </div>
    <div class= "infobox">
        <div class="info">
            <div class="head">ORIGINAL RELEASE DATE:</div>
            <div class="subtitle">June 29, 2007</div>
        </div>
        <div class="info">
            <div class="head">STRENGTHS:</div>
            <div class="subtitle">Amazing visuals & animation, hilarious, great soundtrack</div>
        </div>
        <div class="info">
            <div class="head">WEAKNESSES:</div>
            <div class="subtitle">Cheesy (heh), a little cliche</div>
        </div>
    </div>

    <p>Pixar is a juggernaut in the animation industry. Cars, Finding Nemo, Toy Story; most studios would kill to make even one of these smash hits, yet Pixar's entire catalogue is filled with timeless classics. Despite all this, Ratatouille might just be their magnum opus.
    </p>
    <p>
    Like most of their films, Ratatouille is funny, light-hearted, and has visuals that still hold up over a decade later. It retains all the qualities we've come to expect from Pixar, but also manages to capture a sensation that I've always struggled to describe: the joy of cooking.</p>


    <h1>Anyone Can Cook</h1>
    <p>Ratatouille's premise is simple: Remy, a rat with an acute sense of smell, aspires to one day become a professional chef, despite being, you know, a rat. He's inspired by his hero, the late Auguste Gusteau, whose motto "Anyone can cook" appeals to him for obvious reasons. He can speak to other rats and understand English, naturally, giving him a limited ability to communicate with humans. And, of course, his life changes when he does some dumb shit that ends up separating him from his family. Ah, the joys of youth.</p>
    <p>Remy meets his human vessel, a clueless garbage boy somewhat racistly named Alfredo Linguini, shortly after he somehow makes the best soup of all time without anyone else in the entire kitchen noticing. From there, they form an unlikely partnership: Remy is the brains, the Little Chef, while Linguini is essentially just his human puppet. Unsurprisingly, this team-up leads to all sorts of awkward and funny situations, as Remy desperately tries to appear human and Linguini does his best to hide the fact that he is basically being mind-controlled by a rodent.

    <div class="uc4polaroidsmall">
        <img src="../images/rat1.jpg" alt="remynlinguini">
        <div class="caption">Like peanut butter and durian.</div>
    </div>
    <p>While the plot here isn't exactly groundbreaking and can be fairly predictable, the attention to detail throughout the film is obvious. The crew clearly did their homework here, diving into all the tiny aspects of Paris and what it takes to run a high-end kitchen there.</p>
    <p>There's tons to unpack here: Remy studies each chef's position in the kitchen via a book early on, explaining how he knows them later on when he's quizzed by Gusteau's apparition. Cutting boards stain slightly green after chopping vegetables, and Linguini's bite marks courtesy of his rat friend remain consistent in later scenes. If you look closely at Collette's hands, you can see burns and scars on her forearm and fingers, common injuries amongst professional chefs. And before his first real cooking scene, Remy makes sure to wash with soap and water, and proceeds to walk upright for the rest of the shot so as not to dirty his paws.</p>
    <p>It sounds insignificant on paper but these small details add up to provide some much needed consistency and immersion, especially when your subject matter is a talking rat trying to make it as a chef in Paris. Even though the premise for Ratatouille is slightly ridiculous, it does a fantastic job at drawing the viewer in and making you actually care about the characters. While I thought Chef Skinner, one of the main antagonists, was a bit one-dimensional, pretty much the entire rest of the cast is well written and brought to life through some solid voice acting. In particular, I really enjoyed getting to know Remy's rat family, especially his brother Emile, who doesn't quite understand or relate to Remy's passion but supports and humors him anyways.</p>



    <h1>Music You Can Taste</h1>
    <p>I feel like I've harped on this a lot already but the visuals in this film are absolutely A+++. I was genuinely shocked to learn it came out in 2007; it holds up even today, and the sweeping views of Paris and Gusteau's restaurant are still breathtaking. The weather effects when Remy gets caught out in the rain look as if they're from a modern video game. Scenes where Remy describes the combining of flavors to his brother, or when the critic finally tries the film's titular dish, Ratatouille, are firmly etched in my mind thanks to some vivid colors and stellar animation. Like Gusteau says, "good food is music you can taste...color you can smell."</p>
<div class="uc4polaroidsmall">
    <img src="../images/rateat.png" alt="colors">
    <div class="caption">Nut.</div>
</div>
    <p>Speaking of music - I don't know who the hell Michael Giacchino is, but he nailed the score for this movie. From the sweeping string orchestra during the Paris reveal, to the carefree whistling and slide guitar during Remy and Linguini's training montage, I found myself with pretty much 0 complaints in the audio department. While it's got a rustic European sound to it, it always manages to serve the scene. I feel like it's rare when a movie nails both animation and soundtrack, so props to Pixar once again.</p>
    <p>Normally this is the part where I prepare another section to shit on all the things I didn't like, but honestly there's just not much to say. The villains are kind of bland, yes, and the plot remains safe and predictable throughout. But Ratatouille isn't about deep moral conundrums, and it isn't going to send you on an emotional rollercoaster ride from hell. It's a feel-good movie about chasing your dreams, and being true to yourself, and watching a rat make some bomb-ass looking food. And these days, maybe that isn't such a bad thing. Maybe we need more films like Ratatouille. </p>
    <h1>Verdict</h1>
    <p>Despite being about an animated talking rat, Ratatouille is one of the most human films I've ever seen. It's funny, engaging, relatable, and is simply just a treat to lean back and watch. I've seen it 3 times now, and can honestly say 13 years later it's held up very well.</p>
    <p>
    I give Ratpatootie 9.2 cheetos out of 10 flapjacks.</p>
    <br>
    </body>
    </html>

{% endblock body %}
