{% extends 'base.jinja2' %}

{% block title %}The Legend of Korra{% endblock title %}
{% block head %}
	<link rel="stylesheet" href="{{ prefix }}review.css">
	<link rel="stylesheet" href="{{ prefix }}tv_music_reviews.css">
{% endblock head %}

{% block body %}
    <img src="../images/tlokcover.jpg" class="hero" alt="cover">
    <div class= "infobox">
        <div class="info">
            <div class="head">GENRE:</div>
            <div class="subtitle">The Sequel to Avatar</div>
        </div>
        <div class="info">
            <div class="head">AVAILABLE ON:</div>
            <div class="subtitle">Amazon Prime</div>
        </div>
        <div class="info">
            <div class="head">PRODUCERS:</div>
            <div class="subtitle">Nickelodeon</div>
        </div>
    </div>
    <div class= "infobox">
        <div class="info">
            <div class="head">ORIGINAL AIR DATE:</div>
            <div class="subtitle">April 14, 2012 - December 19, 2014</div>
        </div>
        <div class="info">
            <div class="head">STRENGTHS:</div>
            <div class="subtitle">Great soundtrack, compelling villains, solid voice acting</div>
        </div>
        <div class="info">
            <div class="head">WEAKNESSES:</div>
            <div class="subtitle">Whack pacing, inconsistent quality, Book 2 is trash</div>
        </div>
    </div>

    <p>After a surprisingly fulfilling binge of Avatar: The Last Airbender, I found myself searching for a bit more Avatar goodness to fill the void (no, the movie doesn't count). My friend informed me that Nickelodeon had, in fact, released a sequel to the show back in 2012, but warned me that it didn't quite reach the bar set by the original. </p>
    <p> I try to approach new shows, games, or really any media with an open mind, but this time around it's impossible to ignore the elephant in the room: Legend of Korra is the sequel to Avatar, and as such has some absurdly high standards to meet. I feel as if almost everyone who watches Korra will at least be somewhat familiar with The Last Airbender, and inevitably make comparisons, but I will do my best to discuss The Legend of Korra on its own merits.</p>

    <h1>A Strange Sense of Déjà Vu</h1>
    <br><b>(minor spoilers ahead by the way)</b>
    <p>Korra starts off about as one would expect - explaining the death of Aang and the rebirth of the new Avatar. The stage is set with the introduction of Republic City, a bastion of peace where citizens of all 4 nations come together and live in harmony. From there, we meet most of the main cast, and it's immediately clear that they've decided to stick with much of their old formula. You've got Mako and Bolin, the serious dad and the class clown, this show's "siblings who butt heads," whom often provide comedic relief. Asami is rich girl with daddy issues (Toph). Pabu is funny pet/Momo 2.0, while Naga, Korra's mount, is basically a less interesting version of Appa. The Avatar this time around is a 17-year-old water tribe girl, who is just as mischevious and carefree as Aang while being considerably more stubborn, impulsive, and down for violence than her predecessor.</p>
    <p>I can't help but feel like I've seen this before, except this time around the main cast falls a little flat. Mako and Bolin never really feel like they change or grow that much - they don't have any personal hardships to overcome, and end up feeling like very stagnant characters. Bolin is at least funny, but Mako has about as much charisma as a brick. The pair meet Korra at a professional bending tournament, and after they form a team and compete, the two of them kind of just...hang around. They always feel like they're just there, because it's a show and the Avatar needs homies. Not to mention their whole weird love triangle with Korra. I don't know who OK'd that idea, because all it did was make me go "huh?" and make Korra and Mako way less likeable.</p>
    <p> On the other hand, pretty much everybody else is fucking awesome. Aang's kids and grandkids are hilarious, and it's great to see how each of them inherited a little slice of his personality. Side characters like the eccentric scientist Varrick and his hapless assistant Zhu Li, who constantly has to put up with his bullshit, ended up being some of my favorites among the whole cast. A few familiar faces from The Last Airbender also make a return, and when they came on screen I was that Leonardo DiCaprio pointing meme, but for the most part they take a back seat and let the spotlight shine on the new cast.</p>
    <p>The villains range from really compelling to "what the fuck am I watching right now?" I really enjoyed getting to know the antagonists of Book 1 and 3, and even sympathized with them a little bit, but let's just say that Book 2 was so awful that I literally stopped watching the show for a few weeks.</p>

    <div class="uc4polaroidsmall">
        <img src="../images/tlokvillain.png" alt="villains">
        <div class="caption">Much like the rest of the show, the villains are pretty hit or miss.</div>
    </div>

    <p>Herein lies The Legend of Korra's biggest problem: inconsistency. Book 1 is riveting and gripping, establishing the setting for the series, and the villain actually had a legitimate point to boot. Book 2 throws all that in the trash and tries to go full DBZ with spirit laser beams and shit. Real headscratcher. Then we hit Book 3, easily the strongest; Zaheer is a total badass and brings Korra some of her best fights. Everything's lined up for a fantastic finish, and Book 4 starts off strong but then kind of just runs out of gas and sputters to a halt. Not to mention the ending is literally just the Season 2 finale, except with a big metal robot instead. Really?</p>
    <p>Now, it's worth mentioning that this is partially Nickelodeon's fault. Apparently, the show was only approved for 1 season at a time, so the writers had to write and tie up each season assuming it was their last. Unsurprisingly, this resulted in 4 seasons that feel pretty much completely independent of each other, like 4 condensed short stories. This isn't necessarily a bad thing, especially when it comes to introducing new viewers to the show. But it does result in some wildly inconsistent quality and storytelling, with strange pacing that feels completely off as we skip months or sometimes even years between each book.</p>

    <h1>Silver Linings</h1>
    <p>I don't mean to give the impression that The Legend of Korra is shit, because it isn't. A perfect show it is not, but it succeeds on a few counts. The voice acting is spot on with big names like J.K. Simmons and Steve Blum, and the soundtrack I think actually one-ups its predecessor (especially that credits song, hot damn). I also think the animation is generally of a higher quality than before, and I found myself enjoying the new steampunk, neo-retro vibe of Republic City.</p>
    <p>The Legend of Korra also feels a bit more grown-up and mature. This time around, the show isn't strictly marketed towards 12-year-olds, so  they got free reign to discuss topics like discrimination, classism, political unrest, PTSD, and even some murder-suicide. Characters actually die on-screen for once. Fun stuff.  I think they depicted all of these issues in a very realistic and accurate manner, and they weren't forced to sugarcoat things for their younger audience like they had to before.</p> 
    <p>And much like the original Avatar, the writing and character development on display is (mostly) phenomenal. Tenzin, Aang's only airbending child, struggles with both living in the shadow of Aang's legacy and reviving the entire Air Nomad culture by himself. As a result of their chaotic childhood, Toph's kids hold a rocky relationship with both their estranged mother and each other, but eventually have to make amends to help each other out. Korra herself starts off as a reckless, punch-first-ask-questions-later hothead, and while I didn't like her at first she definitely grew on me. She matures, gets humbled, and eventually learns what being the Avatar is all about: keeping the peace.</p>

    <div class="uc4polaroidsmall">
        <img src="../images/korramirror.jpg" alt="mirror" style ="width:100%">
        <div class="caption">Korra...well, let's just say she goes through some shit.</div>
    </div>


    <h1>If It Ain't Broke...</h1>    
    <p>As a sequel, TLOK unsurprisingly builds upon the rules and universe established in the original show. Of course, I don't expect them to just keep everything the same, and build an exact replica of their previous work. But some of the stylistic changes they made rubbed me the wrong way.</p>
    <p>Let's start with the most obvious: <b>Bending.</b></p>
    <p> Bending seems to have simplified a lot this time around, and difficult/rare techniques like lightningbending are now so commonplace that Mako at one point literally gets a minimum wage job to shoot lightning at generators. Small details like this really cheapen the impact of bending, to the point where it feels pedestrian. In addition, gone are the distinct martial arts styles associated with each element. Instead, most fights in TLOK involve a bunch of people punching and kicking their respective elements at each other.</p>

    <div class="uc4polaroidsmall">
        <img src="../images/katarafight.gif" alt="ATLABfight" style ="width:100%">
        <div class="caption">I mean, just compare this...</div>
    </div>
    <div class="uc4polaroidsmall">
        <img src="../images/korrafight.gif" alt="TLOKfight" style ="width:100%">
        <div class="caption">To this...</div>
    </div>

    <p>I didn't realize how much I would miss this until it was gone. I hate to make comparisons again but fights in TLAB are so distinct, so visually obvious with who is participating and who is doing what, versus the Christmas-light-orgy that some Korra fights devolve into. We even got to see the benders learn from each other; late in the first show we saw Zuko use a breakdance spin kick (one of Aang's airbending moves), a defensive Earth-based stance to part a wall of fire, and lightning redirection (a waterbender based move Iroh taught him).</p>
    <p>We see a little bit of this in Book 1 of Korra, when they're playing in the pro bending tournament, and their opponents illegally mix elements against them. But the concept is dropped shortly after, and while the sub-genres of bending (metalbending, lavabending, bloodbending) are explored more in-depth, overall the quality of fights in Korra is lower.</p>

    <p>My biggest issue, however, is with the Avatar herself, and the Avatar State. While I do think Korra is a well-written, relatable character who undergoes significant growth, she never actually feels that powerful. When you're the fucking <i>Avatar,</i> the most powerful bender on Earth, essentially a demi-god, and also the <i>protagonist of the show</i>, I don't feel like it's unreasonable to want to see Korra bash some heads, right?</p>
    <p>Korra never seems to become a stronger bender or fighter. The obligatory recap episode before the grand finale really highlights this: as Korra narrates everything she's been through in the past 4 seasons, it's literally just a montage of her getting her ass kicked by various bad guys. Why does she never get her big moment, her no-holds-barred-lets-fuck-shit-up that really makes a protagonist feel badass?</p>
    <p>This issue becomes most glaring when it comes to The Avatar State. Korra feels like she gets a minor power boost every time she does it, and she uses it so often that it quickly loses any importance. I mean, early on she literally Avatar States just to win a race against children. Again, don't mean to compare, but Aang was so powerful and destructive in the Avatar State that he was genuinely afraid of it and himself, and spent much of the show coming to terms with it. It felt so much more impactful when it did come up that it felt like a significant plot point, and gave room for Aang's character to grow.</p>


    <h1>Verdict</h1>
    <p>It was much harder for me to get invested into The Legend of Korra. I mentioned before that I had to take a break halfway through the show, and the sudden whiplash change in quality made me not want to continue watching. I'm glad I did, because I do think Korra is not a bad show. It's got great moments, and some episodes that are on par with the quality of The Last Airbender. However, it's certainly not as polished.</p>
    <p>Is Korra a good show on it's own? Yeah, I think so. It's inconsistent for sure, but the good moments outweigh the bad, and overall I liked most of the cast enough to keep me hooked 'til the end. </p>
    <p>Is Korra a worthy successor to The Last Airbender? Probably not, honestly. Personally I think the original is a much better watch all the way through, but both shows have great moments that easily rival the other. </p>
    <p>I give The Legend of Korra a solid 7/10. If anything, if you're thinking of watching this series I would just skip Book 2 because it's complete ass, everything else ranges from decent to actually really good.</p>
    <br>
    </body>
    </html>

{% endblock body %}